In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\programdata\anaconda3\lib\site-packages (3.141.0)
Requirement already satisfied: urllib3 in c:\programdata\anaconda3\lib\site-packages (from selenium) (1.24.2)

#### Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name,experience_required. You have to scrape first 10 jobs data.

In [10]:
 #import require libraries
import selenium
import pandas as pd
from selenium import webdriver
from bs4 import BeautifulSoup
import requests
import time
import itertools

In [278]:
#CONNECT TO WEB-DRIVER
driver=webdriver.Chrome(r"C:\Users\Ashish\Downloads\chromedriver.exe")

In [279]:
# Step 1 :- 1. first get the webpage https://www.naukri.com/
url='https://www.naukri.com/'
#open the site in our automatic chrome browser
driver.get(url)

In [280]:
#remove pop up
remove_pop_up_btn=driver.find_element_by_id('block')
remove_pop_up_btn.click()

In [283]:
#2. Enter “Data Analyst” in “Skill,Designations,Companies” field and enter “Bangalore” in “enter the location” field.

#we called the search bar for job search by using class name
search_job=driver.find_element_by_class_name('sugInp')
#write on search bar of job search
search_job.send_keys('Data Analyst')

In [284]:
#called the search bar for job search by using xpath
search_location=driver.find_element_by_xpath('//input[@name="location"]')
#write on search bar of job location
search_location.send_keys('Bangalore')

In [285]:
# 3. Then click the search button.

#do click using class_name function
search_btn=driver.find_element_by_class_name('btn')
search_btn.click()

In [286]:
# 4. Then scrape the data for the first 10 jobs results we get.

#extract all the job titles
Job_title=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")

In [287]:
#text inside the tage is extracted above
#for extracting only first 10 job_title we have to run for loop up to 10 count
Job_titles=[]
for i in Job_title[:10]:
    Job_titles.append(i.text)

In [288]:
Job_titles

['Data Scientist / Data Analyst -Business Analyst',
 'Junior Data Analyst',
 'Junior Data Analyst',
 'Network Design & Data Analyst',
 'Data analysts',
 'Data Analyst',
 'Consultant - Data Analyst',
 'Assistant Vice President - MIS & Reporting ( Business Data Analyst)',
 'Data Analyst',
 'Data Analyst']

In [296]:
#extract all the company_name

company_name=driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')

In [299]:
#text inside the tage is extracted above
#for extracting only first 10 company_name we have to run for loop up to 10 count
com_name=[]
for i in company_name[:10]:
    com_name.append(i.text)

In [300]:
com_name

['Inflexion Analytix Private Limited',
 'Simplilearn',
 'Simplilearn',
 'Dell International Services India Private Limited',
 'IBM India Pvt. Limited',
 'CARNATION INFOTECH PRIVATE LIMITED',
 'Flipkart Internet Private Limited',
 'INTERTRUSTVITEOS CORPORATE AND FUND SERVICES PVT. LTD.',
 'Flipkart Internet Private Limited',
 'Uber']

In [302]:
#extract all the  job_location
job_location=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']//span")

In [303]:
#text inside the tage is extracted above
#for extracting only first 10 job_location we have to run for loop up to 10 count

job_loc=[]
for i in job_location[:10]:
        job_loc.append(i.text)

In [304]:
job_loc

['Hyderabad/Secunderabad, Chennai, Bangalore/Bengaluru',
 'Bangalore/Bengaluru(Sector 2 HSR Layout)',
 '(WFH during Covid)',
 'Bangalore/Bengaluru(Sector 2 HSR Layout)',
 '(WFH during Covid)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Lucknow, Bangalore/Bengaluru',
 '(WFH during Covid)',
 'Bangalore/Bengaluru']

In [305]:
#extract all the  experience_required

experience_required=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']//span")

In [306]:
#text inside the tage is extracted above
#for extracting only first 10 experience_required we have to run for loop up to 10 count

exp_req=[]
for i in experience_required[:10]:
        exp_req.append(i.text)

In [307]:
exp_req

['0-3 Yrs',
 '0-2 Yrs',
 '0-2 Yrs',
 '0-2 Yrs',
 '5-10 Yrs',
 '0-5 Yrs',
 '0-2 Yrs',
 '10-15 Yrs',
 '3-5 Yrs',
 '1-3 Yrs']

In [308]:
df=pd.DataFrame()
df['Job-title']=Job_titles
df['Job-location']=job_loc
df['Company_name']=com_name
df['Experience_required']=exp_req
df

,Job-title,Job-location,Company_name,Experience_required
0,Data Scientist / Data Analyst -Business Analyst,"Hyderabad/Secunderabad, Chennai, Bangalore/Ben...",Inflexion Analytix Private Limited,0-3 Yrs
1,Junior Data Analyst,Bangalore/Bengaluru(Sector 2 HSR Layout),Simplilearn,0-2 Yrs
2,Junior Data Analyst,(WFH during Covid),Simplilearn,0-2 Yrs
3,Network Design & Data Analyst,Bangalore/Bengaluru(Sector 2 HSR Layout),Dell International Services India Private Limited,0-2 Yrs
4,Data analysts,(WFH during Covid),IBM India Pvt. Limited,5-10 Yrs
5,Data Analyst,Bangalore/Bengaluru,CARNATION INFOTECH PRIVATE LIMITED,0-5 Yrs
6,Consultant - Data Analyst,Bangalore/Bengaluru,Flipkart Internet Private Limited,0-2 Yrs
7,Assistant Vice President - MIS & Reporting ( B...,"Lucknow, Bangalore/Bengaluru",INTERTRUSTVITEOS CORPORATE AND FUND SERVICES P...,10-15 Yrs
8,Data Analyst,(WFH during Covid),Flipkart Internet Private Limited,3-5 Yrs
9,Data Analyst,Bangalore/Bengaluru,Uber,1-3 Yrs

#### Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location,company_name, full job-description. You have to scrape first 10 jobs data.

In [309]:
#CONNECT TO WEB-DRIVER
driver=webdriver.Chrome(r"C:\Users\Ashish\Downloads\chromedriver.exe")

In [310]:
# Step 1 :- 1. first get the webpage https://www.naukri.com/
url='https://www.naukri.com/'
#open the site in our automatic chrome browser
driver.get(url)

In [311]:
remove_pop_up_btn=driver.find_element_by_id('block')
remove_pop_up_btn.click()

In [312]:
#2. Enter “Data Scientist” in “Skill,Designations,Companies” field and enter “Bangalore” in “enter the location” field.

#we called the search bar for job search by using class name
search_job=driver.find_element_by_class_name('sugInp')
#write on search bar of job search
search_job.send_keys('Data Scientist')

#called the search bar for job search by using xpath
search_location=driver.find_element_by_xpath('//input[@name="location"]')
#write on search bar of job location
search_location.send_keys('Bangalore')

# 3. Then click the search button.

#do click using class_name function
search_btn=driver.find_element_by_class_name('btn')
search_btn.click()

In [314]:
# 4. Then scrape the data for the first 10 jobs results you get.

#extract all the job titles
Job_title=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
#text inside the tage is extracted above
#for extracting only first 10 job_title we have to run for loop up to 10 count
Job_titles=[]
for i in Job_title[:10]:
        Job_titles.append(i.text)
        
#5.

#extract all the company_name

company_name=driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
#text inside the tage is extracted above
#for extracting only first 10 company_name we have to run for loop up to 10 count

com_name=[]
for i in company_name[:10]:
        com_name.append(i.text)
        
#6.    
#extract all the  job_location

job_location=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']//span")
#text inside the tage is extracted above
#for extracting only first 10 job_location we have to run for loop up to 10 count

job_loc=[]
for i in job_location[:10]:
        job_loc.append(i.text)

#7.
#extract all the  experience_required

experience_required=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']//span")
#text inside the tage is extracted above
#for extracting only first 10 experience_required we have to run for loop up to 10 count

exp_req=[]
for i in experience_required[:10]:
        exp_req.append(i.text)

In [316]:
df=pd.DataFrame()
df['Job-title']=Job_titles
df['Job-location']=job_loc
df['Company_name']=com_name
df['Experience_required']=exp_req
df

,Job-title,Job-location,Company_name,Experience_required
0,Senior Data Scientist,Bangalore/Bengaluru,Flipkart Internet Private Limited,5-10 Yrs
1,Lead Data Scientist,Bangalore/Bengaluru,bd,2-7 Yrs
2,Data Scientist / Data Analyst -Business Analyst,"Hyderabad/Secunderabad, Chennai, Bangalore/Ben...",Inflexion Analytix Private Limited,0-3 Yrs
3,Data Scientist,Bangalore/Bengaluru,Flipkart Internet Private Limited,0-5 Yrs
4,Data Scientist,"Noida, Bangalore/Bengaluru",Oracle India Pvt. Ltd.,5-9 Yrs
5,Data Scientist: Advanced Analytics,Bangalore/Bengaluru,IBM India Pvt. Limited,5-10 Yrs
6,Senior Data Scientist,"Hyderabad/Secunderabad, Gurgaon/Gurugram, Bang...",inVentiv International Pharma Services Pvt. Ltd.,3-6 Yrs
7,Data Scientist,Bangalore/Bengaluru,Applied Materials,5-10 Yrs
8,Data Scientist 2,Bangalore/Bengaluru,Gojek Tech,4-8 Yrs
9,Data Scientist 2,Bangalore/Bengaluru,GO-JEK India,6-11 Yrs

#### 2.Please note that you have to scrape full job description. For that you may have to open each job separately as shown below

In [317]:
#now we will scrap data of job description

job_desc_url=[]
url=driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
for i in url:
    job_desc_url.append(i.get_attribute('href'))

In [323]:
description=[]
for i in job_desc_url[:10]:
        driver.get(i)
        desc1=driver.find_elements_by_xpath('//div[@class="dang-inner-html"]')
        for i in desc1:
            description.append(i.text)

KeyboardInterrupt:

In [322]:
description
for i in description:
    print(i)
    print("++++next++++")

About the role
A Senior Data Scientist in Flipkart is required to drive research and development of various Machine Learning and Statistical modules, keeping business goals and product planning at the front. The responsible person should be able to communicate and collaborate with multiple stakeholders representing various teams. The crux of the work is defined by developing innovative problem statements as well as end to end implementation of state of the art ML and statistical algorithms. The candidate is additionally expected to work proactively with a team of junior Data Scientists and guide them in various research projects with a view to publish their findings.
What you’ll do
Understand Business and product needs and use advanced modeling techniques to provide solutions to those in a time bound fashion.
Develop research and hypothesis on problem statements around on-going work to provide additional value to the organisation.
Keep the team updated on current trends in the area of ML and Statistics, thereby ensuring that state of the art solutions are provided for the business problems.
Regular collaboration with various stakeholders from business or product to better understand the vision and gain insights which is to be leveraged for providing better solutions.

What you’ll need:
B.Tech in CS or Statistics with demonstrable experience of over 8 years through publications/deployed solutions/projects.
M.Tech or PhD in CS or Statistics with demonstrable experience of over 5 years through publications/deployed solutions/projects.
A deep understanding of applied statistical analysis and predictive modeling is desired.
The candidate must have a thorough grasp of the theory and application of broad ML algorithms namely, but not limited to regression, SVM, Tree, Random Forests, Boosting, Neural Network, clustering, forecasting, deep learning, text analysis etc. It is not expected that the candidate has actually worked on all these modules.
Strong proficiency in Python or R is necessary
++++next++++
Evaluating business requirements and developing compelling user stories in collaboration with business stakeholders across various functions and regions
Collecting, interpreting, preparing and modelling data to provide actionable insights
Prototyping advanced data analytics solutions for presentation to business partners and stakeholders
Applying predictive analytics and machine learning methods and techniques appropriately to address business requirements
Provide expertise to guide business stakeholders in identifying opportunities for the use of BD s data assets for the purpose of advanced data analytics
Work closely with data engineering and DataOps peers to productionalize advanced data analytics use cases
Qualifications
Master s degree in STEM field or equivalent demonstrated work experience
Experience with Python, R, Hadoop, HIVE, SPARK, Jupyter and related advanced analytics / machine learning libraries (Scikitlearn, Tensorflow, Keras, )
Minimum 2 years of relevant work experience
Ability to translate complex solutions to a non-technical audience (storytelling visualization)
Expertise in machine learning, neural networks, clustering, classification, regression and other common advanced analytics methods and techniques
Mature competency for critical thinking, problem solving, working with ambiguity, communications and collaboration
Preferred
Experience with technologies related to data preparation, processing optimization (e.g. Azure, HQL, SPARK SQL)
Experience with data visualization tools (Power BI)
Flexibility to accommodate meetings with international stakeholders in their respective time-zone
++++next++++
Job description

Job Role: Data Scientist/Data Analyst /Business Analyst

Location: Chennai/Bangalore/Hyderabad

Greetings from CAIA - Center for Artificial Intelligence & Advanced Analytics
43% of companies experienced a high deficit of skilled resources with Advanced Analytical skills and AI implementing capabilities in the year 2020. CAIA gives you a great opportunity to enter the world of future technologies and Innovations- Data Science, Analytics, AI, Data Visualization, and Cloud Computing.

While 2020 was a year like no other, we are living in an interesting times where data is reshaping the world, and businesses are rapidly adopting technology to gain an edge over others. Hence, there's a substantial increase in demand for technology professionals who can implement systems in data science, machine learning, and AI in Tier 1 and Tier 2 organizations working closely with us.

To help you build a sustainable career we would like you to utilize data, software and Analytical approaches in Data Science and AI to upskill and get recruited into an organization appreciating your skilling journey.
Applications invited from all Freshers and experienced candidates (0-3 yrs) aspiring to make a career in Artificial Intelligence and Advanced Analytics and Data Science.
If you wish to make a shift in your career or undergo a career transition, upskilling is essential since it allows you to learn more about the domain and acquire the required skills.

Call to schedule interview Monday -Saturday from 10:00 am to 7 Pm

Koodesh B- +91 73395 11107
Manigandan B - +91 93444 57360

Email :

careerguidance.koodes@centerforaia.com
manigandan@centerforaia.com

What is needed from you?
Freshers who wish to start their career in Analytics and AI and professionals who wish to
upskill or change their domain to analytics and emerging technologies are free to apply.
Educational background in any one of the following- BE/B.Tech, ME/M Tech, MSc, BSc/MSc Math's and Statistics, B Com, BCA, BSc CS, BSC IT, MSC IT, MCA
Skills relating to Mathematics/Statistics.
Natural passion towards numbers, business, coding, Analytics, and Artificial Intelligence, Machine Learning, visualization
Good verbal and written communication skills
Ability to understand domains in businesses across various sectors

Selection procedure includes
Aptitude Test & Communication Exam - Online / Offline
SQL/Python test - Online / Offline
Candidates who clear the above will have one-one discussions with our Career Guidance Manager for further evaluation and processing of your Resume.

All the Shortlisted candidates will be eligible to continue the corporate training with CAIA
What you can expect from us?

You will get trained on the following modules for a period of 12-14 weeks:
SQL & PLSQL
Data Wrangling using Python
Data Visualization Using Power-BI
Statistics for Machine Learning
Artificial Intelligence, Data Interpretation
Supervised & Unsupervised Learning,
NLP & Deep Learning
Cloud Data Lake
Business intelligence & Data Visualization
Simulation Projects
Expected Outcome?

At the end of the Training you are expected to be well versed with the following:
Analysis of large and complex data sets from multiple sources
Development and evaluation of data analytics models, algorithms, and solutions
Understanding/implementation of ML algorithms, performance tuning, and reporting
Implementation of algorithms to mine targeted data and the ability to convert data into a business story
Translation of business requirements into technical requirements; Data extraction, preparation, and transformation
Identification, development, and implementation of statistical techniques and algorithms that address business challenges and adds value to the organization
Requirement Analysis and communication of findings in the form of a meaningful story with the stakeholders
Finding analytical solutions to abstract business issues.
Apply objective analysis of facts before coming to a conclusion
++++next++++
About the team
The Data Sciences team at Flipkart is on a mission to build systemic intelligence across Flipkart products and the overarching ecosystem. Being India’s largest online marketplace and the most used e-commerce app in India, places Flipkart in a unique position and gives this team a distinctive opportunity — to decipher the richest possible data about Indian consumers. Add the dimension of a vast product selection and a proliferating seller base to that and what you get is a multitude of disruptive possibilities.
In a nutshell, the terabytes of daily data compounded in Flipkart’s data centres offer a dynamic mix of numerical, structured, unstructured, image- and audio-based statistics, all set to define shopping in the future.
At Flipkart, the work of a Data Scientist involves collaboration with the engineering and product teams to ensure a holistic outcome at the product delivery. The flat functional structure within Flipkart engineering enables data scientists to focus on excellence and create a deep sense of ownership at every stage of work.
If you aspire to redefine ‘state-of-the-art’ and create an impact on India’s online shopping landscape, Flipkart’s Data Science team can offer you the right podium to solve challenging real-world problems and take a giant leap in your career as a Data Scientist.
About the role
A Data Scientist in Flipkart is required to develop and implement ML or statistical models for the various projects formulated from business and product views. The responsible person should be able to communicate and collaborate with multiple stakeholders representing various teams to better understand the problem at hand. At a fundamental level, the responsible person should be able to dive deep into a problem statement and extract interesting insights as well as solutions. In addition to being a quick learner, a DS is expected to get involved in active research projects with a view to publish them.
What you’ll do
Understand Business and product needs and use ML or statistical techniques to provide solutions to those in a time bound fashion.
Communicate and collaborate with business and product teams to have a better understanding of the project so as to be able to drive it within the DS team.
Get involved in in-depth exploration of solutions using various methods and extract statistical insights from data as well as models, which are to be shared with business and product teams.
Active participation in working with new methods and learning new technologies, both in the area of data science and data engineering.
What you’ll need:
B.Tech or M.Tech in CS or Statistics with experience ranging from 0 to 5 years through publications/deployed solutions/projects.
Deep understanding of the algorithms (theory and application) that they have worked on.
Good grasp on the theory and practise of basic statistical models such as regression or clustering and general ML algorithms such as tree, Random Forests, SVM, Boosting, Neural Networks etc. It is not expected that the candidate has actually worked on all these modules.
Strong proficiency in Python or R is necessary.
Skills Required :
Understanding of text representation techniques
Desirable Skills :
Familiarity with Big Data frameworks – Spark, Hadoop
++++next++++
About the Role
  They say no man is an island - a notion that holds particularly true for this role. As a Data Scientist, you ll be an instrumental cog in the Marketplace wheel of Gojek that directly impacts GoFoods revenue and user experience.
   Your main objective will be to utilize various quantitative techniques such as Machine Learning, Optimization, Simulation, and Bayesian Techniques to drive asymmetric values for our business at Gojek. The folks over at the Data Science Platform team will be your companions during this ride, as they help to bring your models to production. Best yet, you ll have the opportunity to flex and hone in on your skills in ideation, research, and building prototypes!
  What You Will Do
Design and develop various machine learning solutions for improving search relevance
Own the Data Science model end-to-end from data collection to model building to monitoring the model in production
Along with Product Managers, own the business outcomes/metrics which the data science model/algorithm drives
Identify ways to better leverage our content and improve its quality and attributes, to improve the overall search experience
What You Will Need
At least 5 years of experience in building machine learning models for product applications
Must have the ability to understand business concerns and formulate them as technical problems that can be solved using data and math/stats/ML
Familiarity with essential data science libraries, including Pandas, Numpy, Scipy, Scikit-Learn
Experience building scalable ML solutions to NLP problems
Familiarity with ML infrastructure needs and best practices
Experience working with cross-functional teams including product, design, engineering, mobile to deliver product outcomes using data science

++++next++++
  About the Role
  They say no man is an island - a notion that holds particularly true for this role. As a Data Scientist, you ll be an instrumental cog in the Marketplace wheel of Gojek that directly impacts GoFoods revenue and user experience. Your main objective will be to utilize various quantitative techniques such as Machine Learning, Optimization, Simulation, and Bayesian Techniques to drive asymmetric values for our business at Gojek.
   The folks over at the Data Science Platform team will be your companions during this ride, as they help to bring your models to production. Best yet, you ll have the opportunity to flex and hone in on your skills in ideation, research, and building prototypes!
  What You Will Do
Design and develop various machine learning solutions for improving search relevance
Own the Data Science model end-to-end from data collection to model building to monitoring the model in production
Along with Product Managers, own the business outcomes/metrics which the data science model/algorithm drives
Identify ways to better leverage our content and improve its quality and attributes, to improve the overall search experience
What You Will Need
At least 5 years of experience in building machine learning models for product applications
Must have the ability to understand business concerns and formulate them as technical problems that can be solved using data and math/stats/ML
Familiarity with essential data science libraries, including Pandas, Numpy, Scipy, Scikit-Learn
Experience building scalable ML solutions to NLP problems
Familiarity with ML infrastructure needs and best practices
Experience working with cross-functional teams including product, design, engineering, mobile to deliver product outcomes using data science
++++next++++

#### Q3: In this question you have to scrape data using the filters available on the webpage as shown below:

In [324]:
import itertools

In [325]:
#CONNECT TO WEB-DRIVER
driver=webdriver.Chrome(r"C:\Users\Ashish\Downloads\chromedriver.exe")

In [326]:
# Step 1 :- 1. first get the webpage https://www.naukri.com/
url='https://www.naukri.com/'
#open the site in our automatic chrome browser
driver.get(url)

In [327]:
remove_pop_up_btn=driver.find_element_by_id('block')
remove_pop_up_btn.click()

In [332]:
job_role=driver.find_element_by_xpath('//input[@name="keyword"]')
job_role.send_keys('Data Scientist')

In [333]:
#do click using class_name function
search_btn=driver.find_element_by_class_name('btn')
search_btn.click()

In [335]:
#do click on location check_box
Location_box=driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[1]/div[2]/div[3]')
Location_box.click()

In [337]:
#do click on salary check_box
salary_box=driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[4]/div[2]/div[2]')
salary_box.click()

In [359]:
#get text data from web page by using xpath
job_title=[] 
job_location=[]
company_name=[]
experience_required=[]
JT=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
JL=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']//span")
CN=driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
ER=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]')

In [360]:
#iterate from all data at a time to append text in list
c=0
for (i,j,k,l) in itertools.zip_longest(JT[:10],JL[:10],CN[:10],ER[:10]):
        job_title.append(i.text)
        job_location.append(j.text)
        company_name.append(k.text)
        experience_required.append(l.text)

In [362]:
#create a dataframe 
df=pd.DataFrame()
df['Job Title']=job_title
df['Job Location']=job_location
df['Company Name']=company_name
df['Experience Eequired']=experience_required
df

,Job Title,Job Location,Company Name,Experience Eequired
0,Data Scientist/Data Analyst /Business Analyst,"Pune, Delhi / NCR, Mumbai (All Areas)",Inflexion Analytix Private Limited,0-3 Yrs
1,Senior Data Scientist,"Hyderabad/Secunderabad, Gurgaon/Gurugram, Bang...",inVentiv International Pharma Services Pvt. Ltd.,3-6 Yrs
2,Team Leader Operations/Data Scientist,"Gurgaon/Gurugram, Delhi / NCR",Optimint Solutions Pvt. Ltd.,2-5 Yrs
3,Only Fresher / Data Scientist / Data Analyst /...,"Noida, Greater Noida, Delhi / NCR",GABA Consultancy services,0-0 Yrs
4,Data Scientist (Early Joiner),Noida(Sector-59 Noida),R Systems International Ltd.,4-8 Yrs
5,Data Scientist - Machine Learning/ NLP,Gurgaon/Gurugram,TalPro,2-6 Yrs
6,Data Scientist,"Hyderabad/Secunderabad, Gurgaon/Gurugram, Bang...",recruitment advisory line,3-6 Yrs
7,Data Scientist || Python || C2H,"Noida, Kolkata, Gurgaon/Gurugram, Bangalore/Be...",Growel Softech Pvt. Ltd.,4-6 Yrs
8,Data Scientist || Python || C2H,"Noida, Kolkata, Gurgaon/Gurugram, Bangalore/Be...",Growel Softech Pvt. Ltd.,4-6 Yrs
9,Advanced Analytics -Data Scientist,"New Delhi, Hyderabad/Secunderabad",ERM Placement Services (P) Ltd.,3-7 Yrs

#### Q4: Write a python program to scrape data for first 10 job results for Data scientist Designation in Noida location. You have to scrape company_name, No. of days ago when job was posted, Rating of the company.

In [364]:
#CONNECT TO WEB-DRIVER
driver=webdriver.Chrome(r"C:\Users\Ashish\Downloads\chromedriver.exe")
# Step 1 :- 1. first get the webpage https://www.glassdoor.co.in/index.htm
url='https://www.glassdoor.co.in/index.htm'
#open the site in our automatic chrome browser
driver.get(url)

In [365]:
# Do click on sign-in button
sign_in=driver.find_element_by_xpath('//*[@id="SiteNav"]/nav/div[1]/div[1]/button')
sign_in.click()

In [366]:
#Enter Username
entr_email=driver.find_element_by_id('userEmail')
entr_email.send_keys('***Enter E-mail id***')
#Enter Password
entr_pass=driver.find_element_by_id('userPassword')
entr_pass.send_keys('***Enter Password***')

In [368]:
# Do click on sign-in button
click_sign_in=driver.find_element_by_xpath('//*[@id="LoginModal"]/div/div/div[2]/div[2]/div[2]/div/div/div/div[3]/form/div[3]/div[1]/button')
click_sign_in.click()

In [369]:
# Do click on search button
click_search=driver.find_element_by_xpath('//*[@id="SearchForm"]/div[1]')
click_search.click()

In [370]:
#Enter Job title
enter_title=driver.find_element_by_id('scKeyword')
enter_title.send_keys('Data Scientist')

In [135]:
#Enter Job location
location=driver.find_element_by_id('scLocation')
location.send_keys('noida')

In [371]:
# Do click on search button
click_search=driver.find_element_by_xpath('//button[@class="pl-0 pr-xsm SearchStyles__searchKeywordSubmit"]')
click_search.click()

In [372]:
#Create list for every page link
#then iterate it and fetch required data
ls=[]
nxt=driver.find_elements_by_xpath('//div[@class="d-flex flex-column css-x75kgh e1rrn5ka3"]//a')
for i in nxt:
    ls.append(i.get_attribute("href"))

In [373]:
#creating empty list
company_name=[]
No_of_days_ago=[]

In [374]:
d=driver.find_elements_by_xpath('//div[@class="d-flex align-items-end pl-std css-mi55ob"]')
for i in d[:10]:
    No_of_days_ago.append(i.text)

In [376]:
for i in ls[:10]:
    driver.get(i)
    CN=driver.find_elements_by_xpath('//div[@class="css-16nw49e e11nt52q1"]')
    for (j) in CN:
        company_name.append(j.text.replace('\n',''))

In [377]:
company_name

['Bechtel4.0★',
 'Bechtel4.0★',
 'Ericsson4.1★',
 'MobiKwik4.0★',
 'Lantern Digital Services3.5★',
 'Crowe3.8★',
 'Novo4.2★',
 'Siemens Technology and Services Private Limited4.1★',
 'Biz2Credit Inc3.9★',
 'Priority Vendor3.7★']

In [378]:
#Seperate Company name and rating
c=[]
Rating=[]
for i in company_name:
    if i[-1] =='★':
        c.append(i[:-4])
        Rating.append(i[-4:])
    else:
        c.append(i)
        Rating.append('0')

In [379]:
#create a dataframe 
df=pd.DataFrame()
df['Company Name']=c
df['Posted Duration']=No_of_days_ago[:10]
df['Rating']=Rating
df

                                      Company Name Posted Duration Rating
0                                          Bechtel             13d   4.0★
1                                          Bechtel              2d   4.0★
2                                         Ericsson              6d   4.1★
3                                         MobiKwik             26d   4.0★
4                         Lantern Digital Services              4d   3.5★
5                                            Crowe             11d   3.8★
6                                             Novo              8d   4.2★
7  Siemens Technology and Services Private Limited             23d   4.1★
8                                   Biz2Credit Inc             19d   3.9★
9                                  Priority Vendor             10d   3.7★

#### Q5: Write a python program to scrape the salary data for Data Scientist designation in Noida location.

In [380]:
#CONNECT TO WEB-DRIVER
driver=webdriver.Chrome(r"C:\Users\Ashish\Downloads\chromedriver.exe")
# Step 1 :- 1. first get the webpage https://www.glassdoor.co.in/index.htm
url='https://www.glassdoor.co.in/Salaries/index.htm'
#open the site in our automatic chrome browser
driver.get(url)

In [381]:
#Enter Job title
enter_title=driver.find_element_by_id('KeywordSearch')
enter_title.send_keys('Data Scientist')

In [382]:
#Enter Job location
location=driver.find_element_by_id('LocationSearch')
location.send_keys('noida')

In [383]:
# Do click on search button
click_search=driver.find_element_by_xpath('//button[@class="gd-btn-mkt"]')
click_search.click()

In [384]:
#creating empty lists of required things
company_name=[]
Avg=[]
Mix=[]
salaries=[]
minimum=[]
maximum=[]
Rating=[]

In [385]:
rat=driver.find_elements_by_xpath('//span[@class="m-0 css-kyx745"]')
for i in rat[:10]:
    Rating.append(i.text)
len(Rating)

10

In [386]:
mix=driver.find_elements_by_xpath('//span[@class="d-block d-lg-none m-0 css-1b6bxoo"]')
for i in mix:
    Mix.append(i.text)

In [387]:
Mix

['Range: ₹6L - ₹27L',
 'Range: ₹3L - ₹13L',
 'Range: ₹6L - ₹22L',
 'Range: ₹5L - ₹1Cr',
 'Range: ₹4L - ₹16L',
 'Range: ₹8L - ₹15L',
 'Range: ₹5L - ₹15L',
 'Range: ₹6L - ₹15L',
 'Range: ₹8L - ₹20L',
 'Range: ₹4L - ₹22L',
 'Range: ₹2L - ₹18L',
 'Range: ₹6L - ₹17L',
 'Range: ₹8L - ₹13L',
 'Range: ₹10L - ₹19L',
 'Range: ₹4L - ₹16L',
 'Range: ₹8L - ₹20L',
 'Range: ₹12T - ₹63T',
 'Range: ₹4L - ₹17L',
 'Range: ₹8L - ₹30L',
 'Range: ₹9L - ₹15L']

In [388]:
#split min and max
for i in Mix[:10]:
    minimum.append(i[6:9])
    maximum.append(i[12:])
print(len(minimum),len(maximum))

10 10

In [389]:
sal=driver.find_elements_by_xpath('//div[@class="col-12 col-lg-4 px-lg-0 d-flex align-items-baseline"]')
for i in sal:
    Avg.append(i.text.replace('\n',''))
Avg

['₹9,00,000 /yr',
 '₹6,15,289 /yr',
 '₹11,63,336 /yr',
 '₹12,18,244 /yr',
 '₹7,39,238 /yr',
 '₹13,00,000 /yr',
 '₹8,63,750 /yr',
 '₹11,10,000 /yr',
 '₹14,23,677 /yr',
 '₹13,28,697 /yr',
 '₹11,42,356 /yr',
 '₹12,09,040 /yr',
 '₹10,09,021 /yr',
 '₹12,58,227 /yr',
 '₹9,92,632 /yr',
 '₹10,55,478 /yr',
 '₹34,157 /mo',
 '₹10,54,402 /yr',
 '₹18,40,134 /yr',
 '₹10,00,000 /yr']

In [390]:
sa=driver.find_elements_by_xpath('//span[@class="m-0 css-1b6bxoo"]')
for i in sa:
     salaries.append(i.text)
S=salaries[2:12]
S

['18 salaries',
 '17 salaries',
 '15 salaries',
 '15 salaries',
 '14 salaries',
 '13 salaries',
 '10 salaries',
 '9 salaries',
 '9 salaries',
 '9 salaries']

In [275]:
# p=salaries[2:12]
# for i in p:
#     salar.append(i[0:2])

In [391]:
CN=driver.find_elements_by_xpath('//a[@class="css-f3vw95 e1aj7ssy3"]')
for i in CN:
    company_name.append(i.text)

In [392]:
#create a dataframe 
df=pd.DataFrame()
df['Company Name']=company_name[:10]
df['Average Salary']=Avg[:10]
df['Mini. Salary']=minimum
df['Max. Salary']=maximum
df['Salarise']=S
df['Rating']=Rating
df

,Company Name,Average Salary,Mini. Salary,Max. Salary,Salarise,Rating
0,IBM,"₹9,00,000 /yr",₹6,₹27L,18 salaries,3.9
1,Tata Consultancy Services,"₹6,15,289 /yr",₹3,₹13L,17 salaries,3.9
2,Accenture,"₹11,63,336 /yr",₹6,₹22L,15 salaries,4
3,Delhivery,"₹12,18,244 /yr",₹5,₹1Cr,15 salaries,3.9
4,Ericsson-Worldwide,"₹7,39,238 /yr",₹4,₹16L,14 salaries,4
5,UnitedHealth Group,"₹13,00,000 /yr",₹8,₹15L,13 salaries,3.6
6,Valiance Solutions,"₹8,63,750 /yr",₹5,₹15L,10 salaries,4.2
7,EXL Service,"₹11,10,000 /yr",₹6,₹15L,9 salaries,3.6
8,Optum,"₹14,23,677 /yr",₹8,₹20L,9 salaries,3.7
9,Optum Global Solutions,"₹13,28,697 /yr",₹4,₹22L,9 salaries,3.9

#### Q6 : Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:

In [393]:
import itertools

In [401]:
#CONNECT TO WEB-DRIVER
driver=webdriver.Chrome(r"C:\Users\Ashish\Downloads\chromedriver.exe")

# Step 1 :- 1. first get the webpage https://www.glassdoor.co.in/index.htm
url='https://www.flipkart.com/'
#open the site in our automatic chrome browser
driver.get(url)

#do click using class_name function
cancel_btn=driver.find_element_by_xpath("//button[@class='_2KpZ6l _2doB4z']")
cancel_btn.click()

search_bar=driver.find_element_by_xpath('/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input')
search_bar.send_keys('Sunglasses')

search_click=driver.find_element_by_xpath('/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button')
search_click.click()

In [402]:
#extract data for each thing which is required from 1st  resultunt page and collect in respective list
brand_n=[]
PD=[]
Price=[]
Disc=[]
Brand=driver.find_elements_by_class_name('_2WkVRV')
PD1=driver.find_elements_by_class_name('IRpwTa')
Price1=driver.find_elements_by_class_name('_30jeq3') 
Disc1=driver.find_elements_by_class_name('_3Ay6Sb')
for (i,j,k,l) in itertools.zip_longest(Brand,PD1,Price1,Disc1):
    try:
        brand_n.append(i.text)
        PD.append(j.text)
        Price.append(k.text)
        Disc.append(l.text)
    except:
        pass

In [403]:
brand_n

['kingsunglasses',
 'Fastrack',
 'Fastrack',
 'PIRASO',
 'kingsunglasses',
 'Fastrack',
 'PHENOMENAL',
 'Fastrack',
 'kingsunglasses',
 'kingsunglasses',
 'PHENOMENAL',
 'Fastrack',
 'ROZZETTA CRAFT',
 'Silver Kartz',
 'PIRASO',
 'PIRASO',
 'HIPPON',
 'Fastrack',
 'kingsunglasses',
 'Fastrack',
 'DEIXELS',
 'PHENOMENAL',
 'ROZZETTA CRAFT',
 'ROZZETTA CRAFT',
 'Fastrack',
 'Flizz',
 'GANSTA',
 'Fastrack',
 'Fastrack',
 'kingsunglasses',
 'kingsunglasses',
 'hipe',
 'Fastrack',
 'Fastrack',
 'ROZZETTA CRAFT',
 'hipe',
 'kingsunglasses',
 'PIRASO',
 'NuVew',
 'ROZZETTA CRAFT']

In [976]:
# df=pd.DataFrame()
# df['Brand Name']=brand_n
# df['Product Dis.']=PD
# df['Price']=Pri- ce
# df['Discount']=Disc
# df

In [977]:
# for i in range(1,3,1):
#     nxt_button=driver.find_element_by_xpath('/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]')
#     nxt_button.click()
#     Brand=driver.find_elements_by_class_name('_2WkVRV')
#     PD1=driver.find_elements_by_class_name('IRpwTa')
#     Price1=driver.find_elements_by_class_name('_30jeq3')
#     Disc1=driver.find_elements_by_class_name('_3Ay6Sb')
#     for j,k,l,m in itertools.zip_longest(Brand,PD1,Price1,Disc1):
#         if len(brand_n)>99:
#             break
#         else:
#             try:
#                 brand_n.append(j.text)
#                 PD.append(k.text)
#                 Price.append(l.text)
#                 Disc.append(m.text)
#             except:
#                 pass

In [404]:
ls=[]
nxt=driver.find_elements_by_xpath('//nav[@class="yFHi8N"]//a')
for i in nxt:
    ls.append(i.get_attribute("href"))

In [405]:
# #collect all the links in list and refer it as per requirement
# nxt_pg=[]
# url=driver.find_elements_by_xpath('//div[@class="_2MImiq"]//a')
# for i in url:
#     nxt_pg.append(i.get_attribute("href"))
# nxt_pg

In [406]:
#collect data from next page till it reach 100 count.
#Collect data from next page , which refer by link 
for i in ls[1::]:
    driver.get(i)
    Brand=driver.find_elements_by_class_name('_2WkVRV')
    PD1=driver.find_elements_by_class_name('IRpwTa')
    Price1=driver.find_elements_by_class_name('_30jeq3')
    Disc1=driver.find_elements_by_class_name('_3Ay6Sb')
    for j,k,l,m in itertools.zip_longest(Brand,PD1,Price1,Disc1):
        if len(brand_n)==100:
            break
        else:
            try:
                brand_n.append(j.text)
                PD.append(k.text)
                Price.append(l.text)
                Disc.append(m.text)
            except:
                pass            
    if len(brand_n)==100:
        break
    else:
        pass

In [407]:
len(brand_n),len(PD),len(Price),len(Disc)

(100, 100, 100, 100)

In [408]:
df=pd.DataFrame({})
df['Brand Name']=brand_n
df['Product Dis.']=PD
df['Price']=Price
df['Discount']=Disc
df

,Brand Name,Product Dis.,Price,Discount
0,kingsunglasses,"Mirrored, UV Protection Wayfarer Sunglasses (F...",₹299,88% off
1,Fastrack,UV Protection Rectangular Sunglasses (Free Size),₹513,₹286 off
2,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹758,₹141 off
3,PIRASO,UV Protection Aviator Sunglasses (54),₹237,85% off
4,kingsunglasses,UV Protection Round Sunglasses (Free Size),₹349,78% off
...,...,...,...,...
95,Wrogn,Mirrored Wayfarer Sunglasses (51),₹663,73% off
96,DEIXELS,"Polarized, UV Protection, Riding Glasses Wayfa...",₹249,58% off
97,kingsunglasses,UV Protection Round Sunglasses (Free Size),₹315,81% off
98,Silver Kartz,UV Protection Oval Sunglasses (56),₹299,75% off
99,Fravy,"UV Protection, Gradient, Night Vision Retro Sq...",₹339,83% off

#### Q7: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link: https://www.flipkart.com/apple-iphone-11-black-64-gb-includesearpods-poweradapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKC

In [409]:
import itertools

In [446]:
#CONNECT TO WEB-DRIVER
driver=webdriver.Chrome(r"C:\Users\Ashish\Downloads\chromedriver.exe")
# Step 1 :- 1. first get the webpage https://www.glassdoor.co.in/index.htm
url='https://www.flipkart.com/apple-iphone-11-black-64-gb-includesearpods-poweradapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace'
#open the site in our automatic chrome browser
driver.get(url)

In [447]:
#click on"show all reviews"
all_rev=driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div[1]/div[2]/div[9]/div/div/div[5]/div/a')
all_rev.click()

In [448]:
Review_summary=[]
Full_review=[]
Rating=[]
RS=driver.find_elements_by_class_name('_2-N8zT')
FR=driver.find_elements_by_class_name('t-ZTKy')
R=driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')
for (i,j,k) in itertools.zip_longest(RS,FR,R):
    try:
        Review_summary.append(i.text)
        Full_review.append(j.text.replace('\n',''))
        Rating.append(k.text)
    except:
        pass

In [449]:
Rating

['5', '5', '5', '5', '5', '5', '5', '4', '5', '5']

In [450]:
# #send get request to the webpage server to get the source code of the page
# url = "https://www.flipkart.com/apple-iphone-11-black-64-gb-includesearpods-poweradapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace"
# page = requests.get(url)
# #see content in page
# soup = BeautifulSoup(page.content)
# rating = []   #empty list

# # Scrape product rating
# for i in soup.find_all("div",class_="_3LWZlK _1BLPMq"):
#     rating.append(i.text)

In [451]:
len(Review_summary),len(Full_review),len(rating)

(10, 10, 10)

In [452]:
#collect all the links in list and refer it as per requirement
nxt_pg=[]
url=driver.find_elements_by_xpath('//nav[@class="yFHi8N"]//a')
for i in url:
    nxt_pg.append(i.get_attribute("href"))

In [453]:
nxt_pg

['https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=1',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=2',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=3',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=4',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=5',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=6',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=7',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=8',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=9',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=10',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=2']

In [418]:
# for i in nxt_pg[1:]:
#     driver.get(i)
#     RS=driver.find_elements_by_class_name('_2-N8zT')
#     FR=driver.find_elements_by_class_name('t-ZTKy')
#     #send get request to the webpage server to get the source code of the page
#     page = requests.get(i)
#     #see content in page
#     soup = BeautifulSoup(page.content)
#     if len(Review_summary)>99:
#             break
#     else:
#         # Scrape product rating
#         for i in soup.find_all("div",class_="_3LWZlK _1BLPMq"):
#             Rating.append(i.text)
#         for (i,j) in zip(RS,FR):
#                 Review_summary.append(i.text)
#                 Full_review.append(j.text.replace('\n',''))

In [454]:
for i in nxt_pg[1:]:
    driver.get(i)
    RS=driver.find_elements_by_class_name('_2-N8zT')
    FR=driver.find_elements_by_class_name('t-ZTKy')
    R=driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')
    for (i,j,k) in itertools.zip_longest(RS,FR,R):
        try:
            Review_summary.append(i.text)
            Full_review.append(j.text.replace('\n',''))
            Rating.append(k.text)
        except:
            pass

In [455]:
len(Review_summary),len(Full_review),len(Rating)

(110, 110, 108)

In [456]:
df=pd.DataFrame({})
df['Review_summary']=Review_summary[:100]
df['Full_review']=Full_review[:100]
df['Rating']=Rating[:100]
df

,Review_summary,Full_review,Rating
0,Brilliant,The Best Phone for the MoneyThe iPhone 11 offe...,5
1,Simply awesome,Really satisfied with the Product I received.....,5
2,Perfect product!,Amazing phone with great cameras and better ba...,5
3,Fabulous!,This is my first iOS phone. I am very happy wi...,5
4,Worth every penny,Previously I was using one plus 3t it was a gr...,5
...,...,...,...
95,Best in the market!,The best all rounder iphone. Flipkart is doing...,4
96,Brilliant,A wort full value for money decision it’s . Si...,4
97,Wonderful,I genuinely liked it. One of the best mobile p...,4
98,Nice product,If you are looking for a premium phone under 5...,5
99,Good quality product,"Awesome camera, smooth and fast UI, display is...",5

#### Q8: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search field.

In [457]:
import itertools
#CONNECT TO WEB-DRIVER
driver=webdriver.Chrome(r"C:\Users\Ashish\Downloads\chromedriver.exe")


# Step 1 :- 1. first get the webpage https://www.glassdoor.co.in/index.htm
url='https://www.flipkart.com/'
#open the site in our automatic chrome browser
driver.get(url)


#do click using class_name function
cancel_btn=driver.find_element_by_xpath("//button[@class='_2KpZ6l _2doB4z']")
cancel_btn.click()

#enter on search bar 
search_bar=driver.find_element_by_xpath('/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input')
search_bar.send_keys('sneakers')

#do click on search button
search_click=driver.find_element_by_xpath('/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button')
search_click.click()

In [458]:
#extract data for each thing which is required from 1st  resultunt page and collect in respective list
brand=[]
PD=[]
Price=[]
Disc=[]
Brand=driver.find_elements_by_class_name('_2WkVRV')
Pd=driver.find_elements_by_class_name('IRpwTa')
Price1=driver.find_elements_by_class_name('_30jeq3') 
Disc1=driver.find_elements_by_class_name('_3Ay6Sb')
for (i,j,k,l) in itertools.zip_longest(Brand,Pd,Price1,Disc1):
    try:
        brand.append(i.text)
        PD.append(j.text)
        Price.append(k.text)
        Disc.append(l.text)
    except:
        pass

In [459]:
#collect all the links in list and refer it as per requirement
nxt_pg=[]
url=driver.find_elements_by_xpath('//nav[@class="yFHi8N"]//a')
for i in url:
    nxt_pg.append(i.get_attribute("href"))

In [460]:
len(brand),len(PD),len(Price),len(Disc)

(40, 40, 40, 40)

In [461]:
for i in nxt_pg[1:3:]:
        driver.get(i)
        Brand=driver.find_elements_by_class_name('_2WkVRV')
        Pd=driver.find_elements_by_class_name('IRpwTa')
        Price1=driver.find_elements_by_class_name('_30jeq3') 
        Disc1=driver.find_elements_by_class_name('_3Ay6Sb')
        for (i,j,k,l) in itertools.zip_longest(Brand,Pd,Price1,Disc1):
            if len(brand)==100:
                        break
            else:       
                    try:  
                        brand.append(i.text)
                        PD.append(j.text)
                        Price.append(k.text)
                        Disc.append(l.text)
                    except:
                        pass

In [462]:
len(brand),len(PD),len(Price),len(Disc)

(100, 100, 100, 100)

In [463]:
df=pd.DataFrame({})
df['Brand Name']=brand
df['Product Dis.']=PD
df['Price']=Price
df['Discount']=Disc
df

,Brand Name,Product Dis.,Price,Discount
0,DUCATI,Sneakers For Men,"₹1,445",60% off
1,Nilatin,White Sneaker For Men Sneakers For Men,₹409,68% off
2,Robbie jones,Casual Sneakers Shoes For Men Sneakers For Men,₹399,60% off
3,CALCADOS,Modern Trendy Shoes Combo pack of 4 Sneakers F...,₹748,62% off
4,Chevit,Super Stylish & Trendy Combo Pack of 02 Pairs ...,₹599,62% off
...,...,...,...,...
95,French Connection,Sneakers For Men,"₹1,374",62% off
96,ESSENCE,Trendy Sneakers For Men,₹468,53% off
97,SPARX,SM-162 Sneakers For Men,₹749,21% off
98,Fzzirok,Sneakers For Men,₹399,60% off
99,Bonexy,Sneakers For Men,₹449,55% off

#### Q9: Go to the link - https://www.myntra.com/shoes Set Price filter to “Rs. 6649 to Rs. 13099” , Color filter to “Black”, as shown in the below image

In [475]:
import itertools
#CONNECT TO WEB-DRIVER
driver=webdriver.Chrome(r"C:\Users\Ashish\Downloads\chromedriver.exe")


# Step 1 :- 1. first get the webpage https://www.glassdoor.co.in/index.htm
url='https://www.myntra.com/shoes'
#open the site in our automatic chrome browser
driver.get(url)

In [476]:
#select color
Color=driver.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label')
Color.click()

In [477]:
#select Price
Price=driver.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label')
Price.click()

In [482]:
Brand=[]
SSD=[]
Price=[]
def repeat():
    br=driver.find_elements_by_class_name('product-brand')
    ssd=driver.find_elements_by_class_name('product-product')
    price=driver.find_elements_by_class_name('product-price')
    for (i,j,k) in itertools.zip_longest(br,ssd,price):
        try:
            Brand.append(i.text)
            SSD.append(j.text)
            Price.append(k.text)
        except:
            pass

In [483]:
repeat()
len(Brand),len(SSD),len(Price)

(50, 50, 50)

In [484]:
#click on next page 
nxt_page=driver.find_element_by_xpath('//*[@id="desktopSearchResults"]/div[2]/section/div[2]/ul/li[12]/a')
nxt_page.click()

In [485]:
repeat()

In [486]:
len(Brand),len(SSD),len(Price)

(100, 100, 100)

In [487]:
df=pd.DataFrame({})
df['Brand Name']=Brand
df['Short Dis.']=SSD
df['Price']=Price
df

      Brand Name                      Short Dis.                        Price
0           Nike   LEBRON XVIII Basketball Shoes  Rs. 12316Rs. 17595(30% OFF)
1           Nike      Men AIR ZOOM Running Shoes   Rs. 7721Rs. 10295(25% OFF)
2           ALDO                    Men Sneakers                     Rs. 9999
3           Nike  Unisex LEBRON XVIII Basketball  Rs. 12316Rs. 17595(30% OFF)
4           ALDO               Men Driving Shoes                    Rs. 11999
..           ...                             ...                          ...
95          Geox             Women Leather Pumps                     Rs. 9999
96        VIONIC           Men Textured Sneakers   Rs. 7039Rs. 10999(36% OFF)
97     J.FONTINI    Men Textured Leather Loafers                     Rs. 7690
98  Hush Puppies            Men Textured Oxfords                     Rs. 6999
99  Hush Puppies       Men Woven Design Sneakers                     Rs. 6999

[100 rows x 3 columns]

#### Q10: Go to webpage https://www.amazon.in

In [539]:
import itertools
#CONNECT TO WEB-DRIVER
driver=webdriver.Chrome(r"C:\Users\Ashish\Downloads\chromedriver.exe")


# Step 1 :- 1. first get the webpage https://www.glassdoor.co.in/index.htm
url=' https://www.amazon.in/'
#open the site in our automatic chrome browser
driver.get(url)

In [540]:
search_bar=driver.find_element_by_xpath('//*[@id="twotabsearchtextbox"]')
search_bar.send_keys('Laptop')

In [541]:
search_btn=driver.find_element_by_xpath('//*[@id="nav-search-submit-button"]')
search_btn.click()

In [542]:
#click on brand
typ=driver.find_element_by_xpath('/html/body/div[1]/div[2]/div[1]/div/div[2]/div/div[3]/span/div[1]/span/div/div/div[6]/ul[1]/li[26]/span/a')
typ.click()

In [543]:
#click on brand
typ=driver.find_element_by_xpath('/html/body/div[1]/div[2]/div[1]/div/div[2]/div/div[3]/span/div[1]/span/div/div/div[6]/ul[1]/li[28]/span/a')
typ.click()

In [544]:
Title=[]
Rating=[]
Price=[]
tit=driver.find_elements_by_xpath("//span[@class='a-size-medium a-color-base a-text-normal']")
prs=driver.find_elements_by_xpath("//span[@class='a-price-whole']")
for (i,k) in itertools.zip_longest(tit,prs):
    if len(Title)==7:
        break
    else:
        try:
            Title.append(i.text)
            Price.append(k.text)
        except:
            pass

In [545]:
from bs4 import BeautifulSoup
import requests

In [546]:
#send get request to the webpage server to get the source code of the page
url = "https://www.amazon.in/s?k=Laptop&i=computers&rh=n%3A1375424031%2Cp_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&dc&qid=1626037299&rnid=12598141031&ref=sr_nr_p_n_feature_thirteen_browse-bin_27"
page = requests.get(url)
#see content in page
soup = BeautifulSoup(page.content)

# Scrape product rating
for i in soup.find_all("span",class_="a-icon-alt"):
    Rating.append(i.text)

In [547]:
Rating

['4.4 out of 5 stars',
 '4.0 out of 5 stars',
 '4.4 out of 5 stars',
 '4.6 out of 5 stars',
 '4.0 out of 5 stars',
 '3.8 out of 5 stars',
 '4.6 out of 5 stars',
 '4.4 out of 5 stars',
 '2.9 out of 5 stars',
 '4.3 out of 5 stars',
 '1.0 out of 5 stars',
 '4.0 out of 5 stars',
 '4.2 out of 5 stars',
 '1.9 out of 5 stars',
 '4.2 out of 5 stars',
 '1.0 out of 5 stars',
 '4 Stars & Up',
 '3 Stars & Up',
 '2 Stars & Up',
 '1 Star & Up']

In [549]:
df=pd.DataFrame({})
df['Title']=Title
df['Rating']=Rating[:7]
df['Price']=Price
df

,Title,Rating,Price
0,Mi Notebook Horizon Edition 14 Intel Core i5-1...,4.4 out of 5 stars,"54,999"
1,Lenovo Legion 7 10th Gen Intel Core i7 15.6 in...,4.0 out of 5 stars,"2,00,000"
2,HP Pavilion (2021) Thin & Light 11th Gen Core ...,4.4 out of 5 stars,"84,990"
3,Mi Notebook Horizon Edition 14 Intel Core i7-1...,4.6 out of 5 stars,"59,999"
4,"HP 14 Thin & Light 14"" (35.56cms) FHD Laptop (...",4.0 out of 5 stars,"88,990"
5,"HP Pavilion x360 (2021) 14"" (35.56cms) FHD Tou...",3.8 out of 5 stars,"78,993"
6,(Renewed) Dell Intel Core i7 4th Gen 14 Inch(3...,4.6 out of 5 stars,"49,999"