In [1]:
!pip install bs4
!pip install requests

Requirement already satisfied: bs4 in c:\programdata\anaconda3\lib\site-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in c:\programdata\anaconda3\lib\site-packages (from bs4) (4.8.0)
Requirement already satisfied: soupsieve>=1.2 in c:\programdata\anaconda3\lib\site-packages (from beautifulsoup4->bs4) (1.9.3)
Requirement already satisfied: requests in c:\programdata\anaconda3\lib\site-packages (2.22.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\programdata\anaconda3\lib\site-packages (from requests) (1.24.2)
Requirement already satisfied: certifi>=2017.4.17 in c:\programdata\anaconda3\lib\site-packages (from requests) (2019.9.11)
Requirement already satisfied: idna<2.9,>=2.5 in c:\programdata\anaconda3\lib\site-packages (from requests) (2.8)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in c:\programdata\anaconda3\lib\site-packages (from requests) (3.0.4)

In [2]:
#importing required libraries
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [3]:
page=requests.get("http://en.wikipedia.org/wiki/Main_Page?")
page#checking page response

In [4]:
soup=BeautifulSoup(page.content)

#### 1. Write a python program to display all the header tags from ‘en.wikipedia.org/wiki/Main_Page’.

In [5]:
first_title=soup.find('span',class_="mw-headline")
headings=soup.find_all('span',class_="mw-headline")# search all types of headlines on page

In [6]:
#collect all headings in list
heading_list=[]
for i in headings:
    heading_list.append(i.text)
heading_list

["From today's featured article",
 'Did you know\xa0...',
 'In the news',
 'On this day',
 "Today's featured picture",
 'Other areas of Wikipedia',
 "Wikipedia's sister projects",
 'Wikipedia languages']

#### 2. Write a python program to display IMDB’s Top rated 100 movies’ data (i.e. Name, IMDB rating, Year of release) and make data frame

In [7]:
#importing required libraries
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [8]:
content=requests.get("https://www.imdb.com/chart/top/?ref_=nv_mv_250")
soup=BeautifulSoup(content.text)
mix=soup.find_all('td',class_="titleColumn")
mix1=[]
j=0
for i in mix:
    if j>99:
        break
    else:
        mix1.append(i.text.replace('\n',''))
    j+=1

In [9]:
Year=[]
for i in mix1:
    Year.append(i[-5:-1:].strip())
name=[]
for i in mix1:
    name.append(i[:-6:])
rating=soup.find_all('td',class_='ratingColumn imdbRating')
rstg=[]
j=0
for i in rating:
    if j>99:
        break
    else:
        rstg.append(i.text.replace('\n',''))
    j+=1

In [10]:
#Creating a data frame
df=pd.DataFrame()
df['Movie Name']=name
df['Year']=Year
df['Rating']=rstg
df

                                           Movie Name  Year Rating
0                    1.      The Shawshank Redemption  1994    9.2
1                               2.      The Godfather  1972    9.1
2                      3.      The Godfather: Part II  1974    9.0
3                             4.      The Dark Knight  2008    9.0
4                                5.      12 Angry Men  1957    8.9
..                                                ...   ...    ...
95                                    96.      Jagten  2012    8.3
96                              97.      Idi i smotri  1985    8.3
97                       98.      Singin' in the Rain  1952    8.3
98                        99.      North by Northwest  1959    8.3
99        100.      Eternal Sunshine of the Spotle...  2004    8.3

[100 rows x 3 columns]

#### 3. Write a python program to display IMDB’s Top rated 100 Indian movies’ data (i.e. Name, IMDB rating, Year of release) and make data frame.

In [11]:
content=requests.get("https://www.imdb.com/india/top-rated-indian-movies/?pf_rd_m=A2FGELUUNOQJNL&pf_rd_p=2e9dfa9b-3e4d-4d39-acd2-8af11f252a59&pf_rd_r=JF1X5WCBEWDS4FFYY20Y&pf_rd_s=right-5&pf_rd_t=15506&pf_rd_i=top&ref_=chttp_india_tr_rhs_1")
soup=BeautifulSoup(content.text)
mix=soup.find_all('td',class_="titleColumn")
mix1=[]
j=0
for i in mix:
    if j>99:
        break
    else:
        mix1.append(i.text.replace('\n',''))
    j+=1

In [12]:
Year=[]
for i in mix1:
    Year.append(i[-5:-1:].strip())
name=[]
for i in mix1:
    name.append(i[:-6:])
rating=soup.find_all('td',class_='ratingColumn imdbRating')
rstg=[]
j=0
for i in rating:
    if j>99:
        break
    else:
        rstg.append(i.text.replace('\n',''))
    j+=1

In [13]:
#Creating a data frame
df=pd.DataFrame()
df['Movie Name']=name
df['Year']=Year
df['Rating']=rstg
df

                                 Movie Name  Year Rating
0                           1.      Nayakan  1987    8.5
1                   2.      Pather Panchali  1955    8.5
2                 3.      Pariyerum Perumal  2018    8.5
3                        4.      Anbe Sivam  2003    8.5
4                           5.      Golmaal  1979    8.5
..                                      ...   ...    ...
95                 96.      Andaz Apna Apna  1994    8.1
96                       97.      Virumandi  2004    8.1
97        98.      Uri: The Surgical Strike  2018    8.1
98                              99.      PK  2014    8.1
99                          100.      Lucia  2013    8.1

[100 rows x 3 columns]

#### 4. Write a python program to scrap book name, author name, genre and book review of any 5 books from
‘www.bookpage.com’

In [14]:
page=requests.get("https://bookpage.com/reviews?book_genre=fiction&page=1")
page

In [15]:
soup=BeautifulSoup(page.content)
#soup

In [16]:
Book_title=soup.find_all('h4',class_="italic")
#Book_title

In [17]:
Book_Name=[]
for j in Book_title:
    Book_Name.append(j.text.replace('\n',''))

In [18]:
Book_Name

['Filthy Animals',
 'The Rose Code',
 ' ★ The Sweetness of Water',
 'The Killing Hills',
 'Love and Fury',
 'The Missing Treasures of Amy Ashton',
 'Everyone Knows Your Mother Is a Witch',
 ' ★ The Hidden Palace',
 'One Two Three',
 ' ★ Walking on Cowrie Shells']

In [19]:
Book_author=soup.find_all('p',class_="sans bold")

In [20]:
Author_Name=[]
for i in Book_author:
    Author_Name.append(i.text.replace('\n',''))

In [21]:
Author_Name

['Brandon Taylor',
 'Kate Quinn, Saskia Maarleveld',
 'Nathan Harris',
 'Chris Offutt',
 'Samantha Silva',
 'Eleanor Ray',
 'Rivka Galchen',
 'Helene Wecker',
 'Laurie Frankel',
 'Nana Nkweti']

In [22]:
Excerpt=soup.find_all('p',class_="excerpt")

In [23]:
Excerpt_B=[]
for i in Excerpt:
    Excerpt_B.append(i.text.replace('\n',''))

In [24]:
print(len(Book_Name),len(Author_Name),len(Excerpt_B))

10 10 10

In [108]:
#Creating a data frame
store=pd.DataFrame()
store['Book Name']=Book_Name
store['Author_Name']=Author_Name
store['Excerpt_B']=Excerpt_B

In [26]:
store

,Book Name,Author_Name,Excerpt_B
0,Filthy Animals,Brandon Taylor,"In Brandon Taylor’s short story collection, se..."
1,The Rose Code,"Kate Quinn, Saskia Maarleveld","The Rose Code is a terrific story, brilliantly..."
2,★ The Sweetness of Water,Nathan Harris,Nathan Harris’ Civil War-set debut novel celeb...
3,The Killing Hills,Chris Offutt,"A rural noir with attitude to spare, The Killi..."
4,Love and Fury,Samantha Silva,Samantha Silva’s attention to period detail cr...
5,The Missing Treasures of Amy Ashton,Eleanor Ray,Eleanor Ray’s debut novel about a hoarder poke...
6,Everyone Knows Your Mother Is a Witch,Rivka Galchen,Rivka Galchen brings a surprising sense of hum...
7,★ The Hidden Palace,Helene Wecker,"Fans have waited eight years for this sequel, ..."
8,One Two Three,Laurie Frankel,"It’s rare when a book is decidedly grim—dire, ..."
9,★ Walking on Cowrie Shells,Nana Nkweti,"With the ease of a master, Nana Nkweti shifts ..."

#### 5. Write a python program to scrape cricket rankings from ‘www.icc-cricket.com’. You have to scrape:
i) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.
ii) Top 10 ODI Batsmen in men along with the records of their team and rating.
iii) Top 10 ODI bowlers along with the records of their team and rating.

##### i) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.

In [27]:
page=requests.get("https://www.icc-cricket.com/rankings/mens/team-rankings/odi")
page

In [28]:
soup=BeautifulSoup(page.content)
Team_name1=soup.find_all('span',class_='u-hide-phablet')

In [29]:
Team_name=[]
j=0
for i in Team_name1:
        Team_name.append(i.text)
        j+=1
        if j>9:
            break

In [30]:
Team_matches1=soup.find_all('td',class_="rankings-block__banner--matches")
Team_matches=[]
for i in Team_matches1:
    Team_matches.append(i.text)

In [31]:
Team_points1=soup.find_all('td',class_="rankings-block__banner--points")
Team_points=[]
for i in Team_points1:
    Team_points.append(i.text)

In [32]:
Team_m_and_p1=soup.find_all('td',class_="table-body__cell u-center-text")
j==2
for i in Team_m_and_p1:
    if j%2==0:
        if j>26:
            continue
        else:
            Team_matches.append(i.text)            
    else:
        if j>36:
            continue
        else:
            Team_points.append(i.text)            
    j+=1

In [33]:
Team_Rating1=soup.find_all('td',class_="rankings-block__banner--rating u-text-right")
Team_Rating=[]
for i in Team_Rating1:
    Team_Rating.append(i.text.replace('\n','').replace(' ',''))

In [34]:
Team_Rating1=soup.find_all('td',class_="table-body__cell u-text-right rating")

In [35]:
j=0
for i in Team_Rating1:
    if j<9:
        Team_Rating.append(i.text.replace('\n',''))
    else:
        break
    j+=1

In [36]:
#Creating a data frame
cricket=pd.DataFrame()
cricket['Team Name']=Team_name
cricket['Team Matches']=Team_matches
cricket['Team Point']=Team_points
cricket['Team Rating']=Team_Rating

In [109]:
print("="*32,'ODI Men Teams',"="*32)
print("="*32,'             ',"="*32)
cricket

================================ ODI Men Teams ================================
================================               ================================

      Team Name Team Matches Team Point Team Rating
0     Australia           18      2,955         164
1  South Africa           24      2,828         118
2       England           17      1,993         117
3         India           20      2,226         111
4   New Zealand           21      1,947          93
5   West Indies           12      1,025          85
6      Pakistan           15      1,101          73
7    Bangladesh            5        306          61
8     Sri Lanka           11        519          47
9       Ireland            2         25          13

##### ii) Top 10 ODI Batsmen in men along with the records of their team and rating.

In [38]:
#importing required libraries
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [39]:
page=requests.get("https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting")
page
soup=BeautifulSoup(page.content)

In [40]:
Pl=[]
Batsman1=soup.find_all('div',class_='rankings-block__banner--name-large')
for i in Batsman1:
    Pl.append(i.text)
Batsman1=soup.find_all('td',class_='table-body__cell rankings-table__name name')
j=0
for i in Batsman1:
    if j<9:
        Pl.append(i.text.replace('\n',''))
    else:
        break
    j+=1

In [41]:
Team1=soup.find_all('div',class_='rankings-block__banner--nationality')
Team=[]
for i in Team1:
    Team.append(i.text.replace('\n',''))
Team1=soup.find_all('span',class_='table-body__logo-text')
j=0
for i in Team1:
    if j<9:
        Team.append(i.text)
    else:
        break
    j+=1

In [42]:
Rating1=soup.find_all('div',class_="rankings-block__banner--rating")
Rating=[]
for i in Rating1:
    Rating.append(i.text)
Rating1=soup.find_all('td',class_="table-body__cell rating")
j=0
for i in Rating1:
    if j<9:
        Rating.append(i.text)
    else:
        break
    j+=1

In [43]:
#Creating a data frame
Batsman=pd.DataFrame()
Batsman['Player']=Pl
Batsman['Team']=Team
Batsman['Rating']=Rating
print("="*32,'Batsman',"="*32)
print("="*32,'       ',"="*32)
Batsman

================================ Batsman ================================
================================         ================================

                Player                     Team Rating
0           Babar Azam  PAK                        865
1          Virat Kohli                      IND    857
2         Rohit Sharma                      IND    825
3          Ross Taylor                       NZ    801
4          Aaron Finch                      AUS    791
5       Jonny Bairstow                      ENG    785
6         Fakhar Zaman                      PAK    778
7  Francois du Plessis                       SA    778
8         David Warner                      AUS    773
9            Shai Hope                       WI    773

##### iii) Top 10 ODI bowlers along with the records of their team and rating.

In [44]:
page=requests.get("https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling")
page
soup=BeautifulSoup(page.content)

In [45]:
Ply=[]
Bowler1=soup.find_all('div',class_='rankings-block__banner--name-large')
for i in Bowler1:
    Ply.append(i.text)
Bowler1=soup.find_all('td',class_='table-body__cell rankings-table__name name')
j=0
for i in Bowler1:
    if j<9:
        Ply.append(i.text.replace('\n',''))
    else:
        break
    j+=1

In [46]:
Team1=soup.find_all('div',class_='rankings-block__banner--nationality')
Team=[]
for i in Team1:
    Team.append(i.text.replace('\n',''))
Team1=soup.find_all('span',class_='table-body__logo-text')
j=0
for i in Team1:
    if j<9:
        Team.append(i.text)
    else:
        break
    j+=1

In [47]:
Rating1=soup.find_all('div',class_="rankings-block__banner--rating")
Rating=[]
for i in Rating1:
    Rating.append(i.text)
Rating1=soup.find_all('td',class_="table-body__cell rating")
j=0
for i in Rating1:
    if j<9:
        Rating.append(i.text)
    else:
        break
    j+=1
Rating

['737', '713', '708', '691', '690', '666', '665', '660', '646', '645']

In [110]:
#Creating a data frame
print("="*32,'BOWLERS',"="*32)
print("="*32,'       ',"="*32)
bowlers=pd.DataFrame()
bowlers['Player']=Ply
bowlers['Team']=Team
bowlers['Rating']=Rating
bowlers

================================ BOWLERS ================================
================================         ================================

              Player                    Team Rating
0        Trent Boult  SA                        418
1       Mehedi Hasan                     AUS    418
2   Mujeeb Ur Rahman                      WI    410
3         Matt Henry                     ENG    349
4     Jasprit Bumrah                     IND    343
5      Kagiso Rabada                     AUS    307
6       Chris Woakes                     AUS    252
7     Josh Hazlewood                      SA    243
8        Pat Cummins                      NZ    242
9  Mustafizur Rahman                      NZ    236

#### 6. Write a python program to scrape cricket rankings from ‘www.icc-cricket.com’. You have to scrape: Women Team

In [49]:
page=requests.get("https://www.icc-cricket.com/rankings/womens/team-rankings/odi")
soup=BeautifulSoup(page.content)
Team_name1=soup.find_all('span',class_='u-hide-phablet')
Team_name=[]
j=0
for i in Team_name1:
        Team_name.append(i.text)
        j+=1
        if j>9:
            break

In [50]:
Team_matches1=soup.find_all('td',class_="rankings-block__banner--matches")
Team_matches=[]
for i in Team_matches1:
    Team_matches.append(i.text)

In [51]:
Team_points1=soup.find_all('td',class_="rankings-block__banner--points")
Team_points=[]
for i in Team_points1:
    Team_points.append(i.text)
Team_m_and_p1=soup.find_all('td',class_="table-body__cell u-center-text")
j==2
for i in Team_m_and_p1:
    if j%2==0:
        if j>30:
            continue
        else:
            Team_matches.append(i.text)            
    else:
        if j>31:
            continue
        else:
            Team_points.append(i.text)            
    j+=1

In [52]:
Team_Rating1=soup.find_all('td',class_="rankings-block__banner--rating u-text-right")
Team_Rating=[]
for i in Team_Rating1:
    Team_Rating.append(i.text.replace('\n','').replace(' ',''))
Team_Rating1=soup.find_all('td',class_="table-body__cell u-text-right rating")
for i in Team_Rating1:
        Team_Rating.append(i.text.replace('\n',''))

In [111]:
#Creating a data frame
cricket=pd.DataFrame()
cricket['Team Name']=Team_name
cricket['Team Matches']=Team_matches
cricket['Team Point']=Team_points
cricket['Team Rating']=Team_Rating
print("="*32,'ODI Women Teams',"="*32)
print("="*32,'               ',"="*32)
cricket

================================ ODI Women Teams ================================
================================                 ================================

      Team Name Team Matches Team Point Team Rating
0     Australia           18      2,955         164
1  South Africa           24      2,828         118
2       England           17      1,993         117
3         India           20      2,226         111
4   New Zealand           21      1,947          93
5   West Indies           12      1,025          85
6      Pakistan           15      1,101          73
7    Bangladesh            5        306          61
8     Sri Lanka           11        519          47
9       Ireland            2         25          13

#### ii) Top 10 women’s ODI players along with the records of their team and rating.

In [54]:
page=requests.get("https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting")
page
soup=BeautifulSoup(page.content)

In [55]:
Pl=[]
Batting1=soup.find_all('div',class_='rankings-block__banner--name-large')
for i in Batting1:
    Pl.append(i.text)
Batting1=soup.find_all('td',class_='table-body__cell rankings-table__name name')
j=0
for i in Batting1:
    if j<9:
        Pl.append(i.text.replace('\n',''))
    else:
        break
    j+=1

In [56]:
Team1=soup.find_all('div',class_='rankings-block__banner--nationality')
Team=[]
for i in Team1:
    Team.append(i.text.replace('\n',''))
Team1=soup.find_all('span',class_='table-body__logo-text')
j=0
for i in Team1:
    if j<9:
        Team.append(i.text)
    else:
        break
    j+=1

In [57]:
Rating1=soup.find_all('span',class_="rankings-block__career-best-text")
Rating=[]
for i in Rating1:
    Rating.append(i.text.replace('\n',''))
Rating1=soup.find_all('td',class_="table-body__cell u-text-right u-hide-phablet")
j=0
for i in Rating1:
    if j<9:
        Rating.append(i.text.replace('\n',''))
    else:
        break
    j+=1

In [58]:
#Creating a data frame
Batsman=pd.DataFrame()
Batsman['Player']=Pl
Batsman['Team']=Team
Batsman['Rating']=Rating
print("="*32,'Batting',"="*32)
print("="*32,'       ',"="*32)
Batsman

================================ Batting ================================
================================         ================================

,Player,Team,Rating
0,Tammy Beaumont,ENG,765 v New Zeal...
1,Lizelle Lee,SA,"773 v India, 1..."
2,Alyssa Healy,AUS,756 v New Zeal...
3,Stafanie Taylor,WI,"765 v India, 0..."
4,Meg Lanning,AUS,834 v New Zeal...
5,Amy Satterthwaite,NZ,756 v Australi...
6,Smriti Mandhana,IND,"797 v England,..."
7,Mithali Raj,IND,839 v Australi...
8,Natalie Sciver,ENG,"712 v India, 2..."
9,Laura Wolvaardt,SA,"725 v India, 0..."

#### iii) Top 10 women’s ODI all-rounder along with the records of their team and rating

In [59]:
#importing required libraries
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [60]:
page=requests.get("https://www.icc-cricket.com/rankings/womens/player-rankings/odi/all-rounder")
page
soup=BeautifulSoup(page.content)

In [61]:
Team=[]
Team1=soup.find_all('div',class_='rankings-block__banner--nationality')
for i in Team1:
    Team.append(i.text.replace('\n',''))
Team
Team1=soup.find_all('span',class_='table-body__logo-text')
j=0
for i in Team1:
    if j<9:
        Team.append(i.text)
    else:
        break
    j+=1

In [62]:
Pl=[]
Name1=soup.find_all('div',class_='rankings-block__banner--name-large')
for i in Name1:
    Pl.append(i.text)
Name1=soup.find_all('td',class_='table-body__cell rankings-table__name name')
j=0
for i in Name1:
    if j<9:
        Pl.append(i.text.replace('\n',''))
    else:
        break
    j+=1

In [63]:
Rating1=soup.find_all('div',class_="rankings-block__banner--rating")
Rating=[]
for i in Rating1:
    Rating.append(i.text.replace('\n',''))
Rating1=soup.find_all('td',class_="table-body__cell rating")
j=0
for i in Rating1:
    if j<9:
        Rating.append(i.text.replace('\n',''))
    else:
        break
    j+=1
Rating

['418', '418', '410', '349', '343', '307', '252', '243', '242', '236']

In [64]:
CBR1=soup.find_all('span',class_="rankings-block__career-best-text")
CBR=[]
for i in CBR1:
    CBR.append(i.text.replace('\n',''))
CBR1=soup.find_all('td',class_="table-body__cell u-text-right u-hide-phablet")
j=0
for i in CBR1:
    if j<9:
        CBR.append(i.text.replace('\n','').replace(' ',''))
    else:
        break
    j+=1

In [65]:
#Creating a data frame
WAR=pd.DataFrame()
WAR['Team']=Team
WAR['Player']=Pl
WAR['Rating']=Rating
WAR['Carrier Best Rating']=CBR
print("="*32,'ODI Women Teams',"="*32)
WAR

================================ ODI Women Teams ================================

,Team,Player,Rating,Carrier Best Rating
0,SA,Marizanne Kapp,418,"418 v India, 1..."
1,AUS,Ellyse Perry,418,"548vWestIndies,11/09/2019"
2,WI,Stafanie Taylor,410,"559vNewZealand,10/10/2013"
3,ENG,Natalie Sciver,349,"349vNewZealand,28/02/2021"
4,IND,Deepti Sharma,343,"397vSouthAfrica,09/10/2019"
5,AUS,Jess Jonassen,307,"308vWestIndies,11/09/2019"
6,AUS,Ashleigh Gardner,252,"256vNewZealand,04/04/2021"
7,SA,Dane van Niekerk,243,"421vSriLanka,11/02/2019"
8,NZ,Sophie Devine,242,"305vAustralia,05/10/2020"
9,NZ,Amelia Kerr,236,"247vAustralia,07/04/2021"

### 9. Write a python program to scrape fresher job listings from ‘https://internshala.com/’. It should include job title,company name, CTC, and apply date.

In [66]:
#importing required libraries
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [67]:
JT=[]
CN=[]
for i in range(1,4,1):
    page=requests.get("https://internshala.com/fresher-jobs/page"+'-'+str(i))
    soup=BeautifulSoup(page.content)
    JT1=soup.find_all('div',class_='heading_4_5 profile')
    CN1=soup.find_all('div',class_='heading_6 company_name')
    for j in JT1:
            JT.append(j.text.replace('\n','').replace(' ',''))
    for c in CN1:
            CN.append(c.text.replace('\n','').replace(' ',''))

In [68]:
CTC=[]
for i in range(1,4,1):
    page=requests.get("https://internshala.com/fresher-jobs/page"+'-'+str(i))
    soup=BeautifulSoup(page.content)
    CTC1=soup.find_all('div',class_='item_body')
    for i in CTC1:
            CTC.append(i.text.replace('\n','').replace(' ',''))
    for i in CTC:
        if i=='Starts\xa0Immediately':
            CTC.remove(i)
        else:
            pass

In [69]:
apply_date=[]
for i in CTC:
    if i[-1::]!='A':
        apply_date.append(i)
        CTC.remove(i)

In [70]:
len(apply_date),len(CTC),len(JT)

(112, 112, 112)

In [71]:
CN=[]
for i in range(1,4,1):
    page=requests.get("https://internshala.com/fresher-jobs/page"+'-'+str(i))
    soup=BeautifulSoup(page.content)
    CN1=soup.find_all('div',class_='heading_6 company_name')
    for i in CN1:
        CN.append(i.text.replace('\n','').replace(' ',''))
len(CN)

112

In [72]:
#Creating a data frame
int_shal=pd.DataFrame()
int_shal['Company Name']=CN
int_shal['Job Title']=JT
int_shal['CTC']=CTC
int_shal['Apply Date']=apply_date

In [73]:
int_shal

,Company Name,Job Title,CTC,Apply Date
0,AptigenzSolutionsPrivateLimited,SoftwareDeveloper,3-3.2LPA,24Jul'21
1,Noise,ManagementTrainee-AssistantCategoryManager,6-10LPA,24Jul'21
2,RoaDo,AccountExecutive-FieldSales,3.2-4LPA,24Jul'21
3,CrewKarma,SoftwareEngineer,3-5LPA,24Jul'21
4,IQGateway,AssociateSoftwareDeveloper,3.6-10LPA,24Jul'21
...,...,...,...,...
107,WebMOBI,BackendDeveloper,3LPA,24Jun'21
108,TMBillSoftware,FullStackDeveloper,3LPA,24Jun'21
109,Kraftshala,JuniorSalesAssociate,4LPA,24Jun'21
110,BlackJack,DigitalMarketingSpecialist,3-5LPA,24Jun'21
111,Softsensor.ai,AssociateDataScientist,4-8LPA,24Jun'21

### 8. Write a python program to extract information about the local weather from the National Weather Servicewebsite of USA, https://www.weather.gov/ for the city, San Francisco. You need to extract data about 7 day extended forecast display for the city. The data should include period, short description, temperature and description.

In [92]:
#importing required libraries
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [93]:
page=requests.get("https://forecast.weather.gov/MapClick.php?lat=37.7771&lon=-122.4196")
soup=BeautifulSoup(page.content)

In [94]:
pr=soup.find_all('p',class_='period-name')
Period=[]
for i in pr:
    Period.append(i.text)

In [95]:
sd=soup.find_all('p',class_='short-desc')
SD=[]
for i in sd:
    SD.append(i.text)

In [96]:
TP=[]
tph=soup.find_all('p',class_='temp temp-high')
tpl=soup.find_all('p',class_='temp temp-low')
k=0
for j in tph:
    TP.append(j.text.replace('\n',''))
    if k==4:
        break        
    TP.append(tpl[k].text.replace('\n',''))
    k+=1
dis1=[]
j=0
discrp=soup.find_all('div',class_="col-sm-10 forecast-text")
for i in discrp:
    if j<9:
        dis1.append(i.text)
    else:
        break
    j+=1

In [97]:
len(pr),len(SD),len(TP),len(dis1)

(9, 9, 9, 9)

In [98]:
#Creating a data frame
df=pd.DataFrame()
df['Period']=pr
df['Short Desc.']=SD
df['Temp.']=TP
df['Discreption']=dis1
df

,Period,Short Desc.,Temp.,Discreption
0,"[This, [], Afternoon]",Sunny,High: 68 °F,"Sunny, with a high near 68. West wind 16 to 21..."
1,"[Tonight, [], []]",IncreasingClouds andBreezy thenCloudy,Low: 55 °F,"Increasing clouds, with a low around 55. Breez..."
2,"[Friday, [], []]",Mostly Cloudythen Sunnyand Breezy,High: 68 °F,"Mostly cloudy, then gradually becoming sunny, ..."
3,"[Friday, [], Night]",Partly Cloudyand Breezythen MostlyCloudy,Low: 56 °F,"Increasing clouds, with a low around 56. Breez..."
4,"[Saturday, [], []]",Partly Sunnythen Sunnyand Breezy,High: 71 °F,"Mostly sunny, with a high near 71. Breezy, wit..."
5,"[Saturday, [], Night]",Mostly Clearand Breezythen PartlyCloudy,Low: 56 °F,"Partly cloudy, with a low around 56. Breezy."
6,"[Sunday, [], []]",Mostly Sunny,High: 69 °F,"Mostly sunny, with a high near 69."
7,"[Sunday, [], Night]",Partly Cloudy,Low: 57 °F,"Partly cloudy, with a low around 57."
8,"[Monday, [], []]",Mostly Sunny,High: 70 °F,"Mostly sunny, with a high near 70."

### 10. Write a python program to scrape house details from mentioned url. It should include house title, location,area, emi and price

In [63]:
#importing required libraries
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [64]:
page=requests.get("https://www.nobroker.in/property/sale/bangalore/multiple?type=BHK4&searchParam=W3sibGF0IjoxMi45MTM5MDk2LCJsb24iOjc3LjYxMDE2OTEsInBsYWNlSWQiOiJDaElKTDRqNUFfMFVyanNSNHhmb3R6ejc4ckkiLCJwbGFjZU5hbWUiOiJIb3RlbCBTd2FkaXNodGEgQWFoYXIifSx7ImxhdCI6MTIuOTczMDM4LCJsb24iOjc3LjU3ODIxMzIsInBsYWNlSWQiOiJDaElKMzVHWXV3NFdyanNSMlc5b0xvQ3BhZWciLCJwbGFjZU5hbWUiOiJIb3NwaXRhbCBSb2FkIn0seyJsYXQiOjEyLjg3NjEyODcsImxvbiI6NzcuNjEyMTcwNDAwMDAwMDEsInBsYWNlSWQiOiJDaElKSjN6bGFpdHJyanNSbzh6a3p5NU43emciLCJwbGFjZU5hbWUiOiJIb3VzZSBvZiBIaXJhbmFuZGFuaSBMYWtlIFZlcmFuZGFocyJ9XQ==&propertyAge=0&radius=2.0")
soup=BeautifulSoup(page.content)

In [67]:
ht=[]
ht1=soup.find_all('h2',class_="heading-6 font-semi-bold nb__1AShY")
for i in ht1:
    ht.append(i.text)

In [68]:
lo=[]
loc=soup.find_all('div',class_="nb__2CMjv")
for i in loc:
    lo.append(i.text)

In [69]:
ar=[]
area=soup.find_all('div',class_="nb__3oNyC")
for i in area:
    ar.append(i.text)

In [70]:
em=[]
em2=[]
price=[]
emi=soup.find_all('div',class_="nb__2NPHR")
j=2
while j<40:
    em.append(emi[j].text)
    price.append(emi[j+1].text)
    j+=4
for i in em:
    em2.append(i[:-13:])

In [71]:
#Creating a data frame
df=pd.DataFrame()
df['House Title']=ht
df['Location']=lo
df['Area']=ar
df['Price']=price
df['EMI']=em2
df

,House Title,Location,Area,Price,EMI
0,4 BHK In Independent House For Sale In Btm 2...,"Independent House, 3rd Cross Rd, Near Sangama ...","3,600 sqft","₹1.85 Crores₹5,139 per sq.ft.",₹1.06 Lacs/Month
1,4 BHK In Independent House For Sale In Btm W...,"Independent House, 11th main BTM 1st stage(nea...","1,600 sqft","₹2.4 Crores₹15,000 per sq.ft.",₹1.38 Lacs/Month
2,4 BHK For Sale in Btm Layout 2nd Stage,"Independent House, 7th Main Rd,,ns palya, near...","2,400 sqft","₹2 Crores₹8,333 per sq.ft.",₹1.15 Lacs/Month
3,4 BHK Flat For Sale In Sanskrithi Pearl Apar...,"Sanskrithi Pearl Apartment, 4th A Cross Rd, MC...","2,500 sqft","₹3 Crores₹12,000 per sq.ft.",₹1.72 Lacs/Month
4,4 BHK For Sale in Btm 2nd Stage,"Independent House, 12th Cross, 29th Main S M R...","2,400 sqft","₹2.5 Crores₹10,417 per sq.ft.",₹1.43 Lacs/Month
5,4 BHK In Independent House For Sale In Btm L...,"Independent House, 4th Main, Bannerghatta Main...","3,300 sqft","₹6.5 Crores₹19,697 per sq.ft.",₹3.73 Lacs/Month
6,4 BHK In Independent House For Sale In Btm L...,"Independent House, 9th B main, Near St Thomas ...","2,400 sqft","₹2.8 Crores₹11,667 per sq.ft.",₹1.6 Lacs/Month
7,4 BHK Flat For Sale In Btm Layout,"Standalone Building, 2nd Stage NS Palya 8th Ma...","1,440 sqft","₹70 Lacs₹4,861 per sq.ft.","₹40,120/Month"
8,4 BHK Flat For Sale In New Gurappana Palya,"Standalone Building, KEB Colony, Near Avallam...","1,440 sqft","₹1.6 Crores₹11,111 per sq.ft.","₹91,703/Month"
9,4 BHK For Sale in Btm Layout,"Standalone Building, 1st Stage, BTM Layout, 9t...","1,300 sqft","₹1.1 Crores₹8,462 per sq.ft.","₹63,045/Month"

### 7. Write a python program to scrape details of all the mobile phones under Rs. 20,000 listed on Amazon.in. The scraped data should include Product Name, Price, Image URL and Average Rating.

In [88]:
#importing required libraries
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [99]:
PN=[]
Price=[]
Img=[]
AR=[]
for i in range(1,20,1):
    page=requests.get("https://www.amazon.in/s?k=Mobile+Phone+Under+20000&page="+str(i)+"&qid=1624480173&ref=sr_pg_"+str(i))
    soup=BeautifulSoup(page.content)
    pn=soup.find_all('span',class_="a-size-medium a-color-base a-text-normal")
    Pris=soup.find_all('span',class_="a-price-whole")
    ar=soup.find_all('span',class_="a-icon-alt")
    for i in pn:
        PN.append(i.text)
    for j in Pris:
        Price.append(j.text)
    for k in Pris:
        AR.append(k.text)

In [102]:
len(PN),len(Price),len(AR)

(208, 187, 187)