#### 1. Scrape the details of most viewed videos on YouTube from Wikipedia:
Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos/
You need to find following details:
A) Rank
B) Name
C) Artist
D) Upload date
E) Views

In [10]:
 #import require libraries
import selenium
import pandas as pd
from selenium import webdriver
from bs4 import BeautifulSoup
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
import requests
import time
import itertools

In [11]:
#CONNECT TO WEB-DRIVER
driver=webdriver.Chrome(r"C:\Users\Ashish\Downloads\chromedriver.exe")

In [12]:
# Step 1 :- 1. first get the webpage https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos
url='https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos'
#open the site in our automatic chrome browser
driver.get(url)

In [14]:
Rank=[]
Name=[]
Artist=[]
U_D=[]
Views=[]

try:
    rank=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[1]")
    for i in rank:
        Rank.append(i.text)
except NoSuchElementException:
    Rank.append('- -')
except StaleElementReferenceException:
    Rank.append('- -')
#########################################################################

try:
    name=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[2]")
    for i in name:
        Name.append(i.text)
except NoSuchElementException:
    Name.append('- -')
except StaleElementReferenceException:
    Name.append('- -')
#########################################################################

try:
    artist=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[3]")
    for i in artist:
        Artist.append(i.text)
except NoSuchElementException:
    Artist.append('- -')
except StaleElementReferenceException:
    Artist.append('- -')
#########################################################################

try:
    view=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[4]")
    for i in view:
        Views.append(i.text)
except NoSuchElementException:
    Views.append('- -')
except StaleElementReferenceException:
    Views.append('- -')
#########################################################################

try:
    upload=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[5]")
    for i in upload:
        U_D.append(i.text)
except NoSuchElementException:
    U_D.append('- -')
except StaleElementReferenceException:
    U_D.append('- -')

In [15]:
len(Rank),len(Name),len(Artist),len(Views),len(U_D)

(30, 30, 30, 30, 30)

In [16]:
#CreateDataframe
df=pd.DataFrame()
df['Rank']=Rank
df['Name']=Name
df['Arist']=Artist
df['View']=Views
df['Upload Date']=U_D
df

,Rank,Name,Arist,View,Upload Date
0,1.,"""Baby Shark Dance""[22]",Pinkfong Kids' Songs & Stories,9.10,"June 17, 2016"
1,2.,"""Despacito""[24]",Luis Fonsi,7.48,"January 12, 2017"
2,3.,"""Johny Johny Yes Papa""[25]",LooLoo Kids,5.61,"October 8, 2016"
3,4.,"""Shape of You""[26]",Ed Sheeran,5.41,"January 30, 2017"
4,5.,"""See You Again""[27]",Wiz Khalifa,5.21,"April 6, 2015"
5,6.,"""Masha and the Bear – Recipe for Disaster""[30]",Get Movies,4.45,"January 31, 2012"
6,7.,"""Bath Song""[31]",Cocomelon – Nursery Rhymes,4.41,"May 2, 2018"
7,8.,"""Learning Colors – Colorful Eggs on a Farm""[32]",Miroshka TV,4.38,"February 27, 2018"
8,9.,"""Uptown Funk""[33]",Mark Ronson,4.25,"November 19, 2014"
9,10.,"""Gangnam Style""[34]",Psy,4.14,"July 15, 2012"
10,11.,"""Phonics Song with Two Words""[36]",ChuChu TV,4.05,"March 6, 2014"
11,12.,"""Sugar""[37]",Maroon 5,3.52,"January 14, 2015"
12,13.,"""Dame Tu Cosita""[38]",El Chombo,3.50,"April 5, 2018"
13,14.,"""Sorry""[39]",Justin Bieber,3.46,"October 22, 2015"
14,15.,"""Roar""[40]",Katy Perry,3.40,"September 5, 2013"
15,16.,"""Counting Stars""[41]",OneRepublic,3.36,"May 31, 2013"
16,17.,"""Thinking Out Loud""[42]",Ed Sheeran,3.30,"October 7, 2014"
17,18.,"""Wheels on the Bus""[43]",Cocomelon – Nursery Rhymes,3.20,"May 24, 2018"
18,19.,"""Dark Horse""[44]",Katy Perry,3.11,"February 20, 2014"
19,20.,"""Faded""[45]",Alan Walker,3.11,"December 3, 2015"
20,21.,"""Girls Like You""[46]",Maroon 5,3.09,"May 31, 2018"
21,22.,"""Shake It Off""[47]",Taylor Swift,3.08,"August 18, 2014"
22,23.,"""Lean On""[48]",Major Lazer,3.08,"March 22, 2015"
23,24.,"""Bailando""[49]",Enrique Iglesias,3.07,"April 11, 2014"
24,25.,"""Let Her Go""[50]",Passenger,3.04,"July 25, 2012"
25,26.,"""Mi Gente""[51]",J Balvin,2.96,"June 29, 2017"
26,27.,"""Axel F""[52]",Crazy Frog,2.92,"June 16, 2009"
27,28.,"""Perfect""[53]",Ed Sheeran,2.92,"November 9, 2017"
28,29.,"""Waka Waka (This Time for Africa)""[54]",Shakira,2.90,"June 4, 2010"
29,30.,"""Hello""[55]",Adele,2.86,"October 22, 2015"

In [31]:
#Save as .csv
df.to_csv("YT_Videos")

##### 2. Scrape the details team India’s international fixtures from bcci.tv.
Url = https://www.bcci.tv/.
You need to find following details:
A) Match title (I.e. 1st ODI)
B) Series
C) Place
D) Date
E) Time

In [17]:
#CONNECT TO WEB-DRIVER
driver=webdriver.Chrome(r"C:\Users\Ashish\Downloads\chromedriver.exe")

In [18]:
# Step 1 :- 1. first get the webpage https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos
url=' https://www.bcci.tv/.'
#open the site in our automatic chrome browser
driver.get(url)

In [35]:
#main menu
#While inspect our page orientation get small then we get this option ,If page orientation is fit to screen do not run this
menu=driver.find_element_by_xpath("/html/body/div[2]/div/div[1]/button")
try:
    menu.click()
except ElementNotInteractableException:
    print("Page orientation is fit to screen")

In [36]:
#Do click on fixture
drop=driver.find_element_by_xpath("/html/body/div[2]/div/div[2]/div[2]/nav/ul/li[1]/div[1]")
drop.click()

fix=driver.find_element_by_xpath("/html/body/div[2]/div/div[2]/div[2]/nav/ul/li[1]/div[2]/div/ul/li[1]/a")
try:
    fix.click()
except ElementNotInteractableException:
    driver.get(fix.get_attribute('href'))
    
Li=[]
exact_match_page=driver.find_elements_by_xpath("//div[@class='js-list']/a")
for i in exact_match_page:
    Li.append(i.get_attribute('href'))

In [37]:
len(Li)

4

In [41]:
Match=[]
Series=[]
Place=[]
Date=[]
Time=[]
for i in Li:#list of urls of match description pages
    driver.get(i)
    
    #Match
    try:
        match=driver.find_element_by_xpath("//p[@class='mc-header-info__match-description']/span")
        Match.append(match.text)
    except NoSuchElementException:
        Match.append('- -')
        
    #Series    
    try:
        series=driver.find_element_by_xpath("//h1[@class='mc-header-info__title']/strong")
        Series.append(series.text)
    except NoSuchElementException:
        Series.append("- -")
        
    #Place    
    try:
        place=driver.find_element_by_xpath("//h1[@class='mc-header-info__title']")
        Place.append(place.text.split()[-1])
    except NoSuchElementException:
        Place.append("- -")
        
    #Date    
    try:
        date=driver.find_element_by_xpath("//div[@class='mc-header-scorebox__datetime']/strong")
        Date.append(date.text)
    except NoSuchElementException:
        Date.append("- -")        
        
    #Time    
    try:
        time=driver.find_element_by_xpath("//div[@class='mc-header-scorebox__datetime']/span")
        Time.append(time.text)
    except NoSuchElementException:
        Time.append("- -")

In [42]:
len(Match),len(Place),len(Series),len(Date),len(Time)

(4, 4, 4, 4, 4)

In [43]:
#CreateDataframe
df=pd.DataFrame()
df['Match']=Match
df['Place']=Place
df['Series']=Series
df['Date']=Date
df['Time']=Time
df

,Match,Place,Series,Date,Time
0,2ND TEST,"[England, v, India, Lord's,, London]",England v India,Thursday 12 August,15:30 IST
1,3RD TEST,"[England, v, India, Headingley,, Leeds]",England v India,Wednesday 25 August,15:30 IST
2,4TH TEST,"[England, v, India, The, Oval,, London]",England v India,Thursday 2 September,15:30 IST
3,5TH TEST,"[England, v, India, Old, Trafford,, Manchester]",England v India,Friday 10 September,15:30 IST

##### 4. Scrape the details of State-wise GDP of India from statisticstime.com.
Url = http://statisticstimes.com/
You have to find following details:
A) Rank
B) State
C) GSDP at current price (19-20)
D) GSDP at current price (18-19)
E) Share(18-19)
F) GDP($ billion)

In [51]:
#CONNECT TO WEB-DRIVER
driver=webdriver.Chrome(r"C:\Users\Ashish\Downloads\chromedriver.exe")

In [52]:
# Step 1 :- 1. first get the webpage https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos
url=' http://statisticstimes.com/'
#open the site in our automatic chrome browser
driver.get(url)

In [68]:
#Do click on Economy
eco=driver.find_element_by_xpath("/html/body/div[2]/div[1]/div[2]/div[2]/button/i")
try:
    eco.click()
except ElementNotInteractableException:
    driver.get(eco.get_attribute('href'))

In [69]:
#click on name
driver.find_element_by_xpath("/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]").click()

In [59]:
#cancel AD
driver.find_element_by_xpath('//*[@id="dismiss-button"]').click()

NoSuchElementException: Message: no such element: Unable to locate element: {"method":"xpath","selector":"//*[@id="dismiss-button"]/div/svg"}
  (Session info: chrome=92.0.4515.107)

In [72]:
#state GDP
gdp_sate=driver.find_element_by_xpath("/html/body/div[2]/div[2]/div[2]/ul/li[1]/a")
try:
    gdp_sate.click()
except ElementNotInteractableException:
    driver.get(gdp_sate.get_attribute('href'))

In [75]:
Rank=[]
State=[]
GSDP_1=[]
GSDP_2=[]
Share=[]
Gdp=[]

try:
    rank=driver.find_elements_by_xpath("//div[@id='table_id_wrapper']/table/tbody/tr/td[1]")
    for i in rank:
        Rank.append(i.text)
except NoSuchElementException:
    Rank.append('- -')
    
#########################################################################

try:
    state=driver.find_elements_by_xpath("//div[@id='table_id_wrapper']/table/tbody/tr/td[2]")
    for i in state:
        State.append(i.text)
except NoSuchElementException:
    State.append('- -')
    
#########################################################################

try:
    gdsp_1=driver.find_elements_by_xpath("//div[@id='table_id_wrapper']/table/tbody/tr/td[3]")
    for i in gdsp_1:
        GSDP_1.append(i.text)
except NoSuchElementException:
    GSDP_1.append('- -')
    
#########################################################################

try:
    gdsp_2=driver.find_elements_by_xpath("//div[@id='table_id_wrapper']/table/tbody/tr/td[4]")
    for i in gdsp_2:
        GSDP_2.append(i.text)
except NoSuchElementException:
    GSDP_2.append('- -')
    
#########################################################################

try:
    share=driver.find_elements_by_xpath("//div[@id='table_id_wrapper']/table/tbody/tr/td[5]")
    for i in share:
        Share.append(i.text)
except NoSuchElementException:
    Share.append('- -')
    
#########################################################################

try:
    gdp=driver.find_elements_by_xpath("//div[@id='table_id_wrapper']/table/tbody/tr/td[6]")
    for i in gdp:
        Gdp.append(i.text)
except NoSuchElementException:
    Gdp.append('- -')

In [77]:
len(Rank),len(State),len(GSDP_1),len(GSDP_2),len(Share),len(Gdp)

(33, 33, 33, 33, 33, 33)

In [76]:
#CreateDataframe
df=pd.DataFrame()
df['Rank']=Rank
df['State']=State
df['GSDP_1']=GSDP_1
df['GSDP_2']=GSDP_2
df['Share']=Share
df['Gdp']=Gdp
df

   Rank                      State     GSDP_1     GSDP_2   Share      Gdp
0     1                Maharashtra          -  2,632,792  13.94%  399.921
1     2                 Tamil Nadu  1,845,853  1,630,208   8.63%  247.629
2     3              Uttar Pradesh  1,687,818  1,584,764   8.39%  240.726
3     4                    Gujarat          -  1,502,899   7.96%  228.290
4     5                  Karnataka  1,631,977  1,493,127   7.91%  226.806
5     6                West Bengal  1,253,832  1,089,898   5.77%  165.556
6     7                  Rajasthan  1,020,989    942,586   4.99%  143.179
7     8             Andhra Pradesh    972,782    862,957   4.57%  131.083
8     9                  Telangana    969,604    861,031   4.56%  130.791
9    10             Madhya Pradesh    906,672    809,592   4.29%  122.977
10   11                     Kerala          -    781,653   4.14%  118.733
11   12                      Delhi    856,112    774,870   4.10%  117.703
12   13                    Haryana    831,610    734,163   3.89%  111.519
13   14                      Bihar    611,804    530,363   2.81%   80.562
14   15                     Punjab    574,760    526,376   2.79%   79.957
15   16                     Odisha    521,275    487,805   2.58%   74.098
16   17                      Assam          -    315,881   1.67%   47.982
17   18               Chhattisgarh    329,180    304,063   1.61%   46.187
18   19                  Jharkhand    328,598    297,204   1.57%   45.145
19   20                Uttarakhand          -    245,895   1.30%   37.351
20   21            Jammu & Kashmir          -    155,956   0.83%   23.690
21   22           Himachal Pradesh    165,472    153,845   0.81%   23.369
22   23                        Goa     80,449     73,170   0.39%   11.115
23   24                    Tripura     55,984     49,845   0.26%    7.571
24   25                 Chandigarh          -     42,114   0.22%    6.397
25   26                 Puducherry     38,253     34,433   0.18%    5.230
26   27                  Meghalaya     36,572     33,481   0.18%    5.086
27   28                     Sikkim     32,496     28,723   0.15%    4.363
28   29                    Manipur     31,790     27,870   0.15%    4.233
29   30                   Nagaland          -     27,283   0.14%    4.144
30   31          Arunachal Pradesh          -     24,603   0.13%    3.737
31   32                    Mizoram     26,503     22,287   0.12%    3.385
32   33  Andaman & Nicobar Islands          -          -       -        -

##### 5. Scrape the details of trending repositories on Github.com.
Url = https://github.com/
You have to find the following details:
A) Repository title
B) Repository description
C) Contributors count
D) Language used

In [114]:
#CONNECT TO WEB-DRIVER
driver=webdriver.Chrome(r"C:\Users\Ashish\Downloads\chromedriver.exe")

In [115]:
# Step 1 :- 1. first get the webpage https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos
url='https://github.com/'
#open the site in our automatic chrome browser
driver.get(url)

In [116]:
exp=driver.find_element_by_xpath("//ul[@class='list-style-none mb-3']/li[3]/a")
driver.get(exp.get_attribute('href'))

In [117]:
Li = []
repos=driver.find_elements_by_xpath("//h1[@class='h3 lh-condensed']/a")
for i in repos:
    Li.append(i.get_attribute('href'))

In [118]:
len(Li)

25

In [126]:
R_title = []
R_Desc = []
Cont_count = []
Lang = []

try:
    title=driver.find_elements_by_xpath("//h1[@class='h3 lh-condensed']")
    for i in title:
        R_title.append(i.text)
except NoSuchElementException:
    R_title.append('- -')
    
#########################################################################   

try:
    description=driver.find_elements_by_xpath("//p[@class='col-9 color-text-secondary my-1 pr-4']")
    for i in description:
        R_Desc.append(i.text)
except NoSuchElementException:
    R_Desc.append('- - ')
    
#########################################################################

In [128]:
for i in Li:
    driver.get(i)
    
###########################################################################    
    try:
        count=driver.find_element_by_xpath("//h2[@class='h4 mb-3']/a[contains(text(),'Contributors')]/span")
        Cont_count.append(count.text)
    except NoSuchElementException:
        Cont_count.append('- -')

###########################################################################        
    
    lan=driver.find_elements_by_xpath("//span[@class='text-gray-dark text-bold mr-1']")
    if lan:    
        for i in lan:
            Lang.append(i.text)
    else:
        Lang.append('- -')

In [129]:
len(R_title),len(R_Desc),len(Cont_count),len(Lang)

(25, 24, 25, 25)

In [130]:
#CreateDataframe
df=pd.DataFrame()
df['Repository Title']=R_title
df['Repository Description']=R_Desc
df['Total Contributers']=Cont_count
df['Language']=Lang[:25]
df

ValueError: Length of values does not match length of index

##### 6. Scrape the details of top 100 songs on billboard.com.
Url = https://www.billboard.com/
You have to find the following details:
A) Song name
B) Artist name
C) Last week rank
D) Peak rank
E) Weeks on board
Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [144]:
from selenium.common.exceptions import ElementNotInteractableException,ElementClickInterceptedException

In [139]:
#CONNECT TO WEB-DRIVER
driver=webdriver.Chrome(r"C:\Users\Ashish\Downloads\chromedriver.exe")

In [140]:
# Step 1 :- 1. first get the webpage https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos
url='https://www.billboard.com/'
#open the site in our automatic chrome browser
driver.get(url)

In [141]:
chart=driver.find_element_by_xpath("//a[@class='header__main-link header__main-link--charts']")
try:
    chart.click()
except ElementNotInteractableException:
    driver.get(chart.get_attribute('href'))

In [145]:
hundred=driver.find_element_by_xpath("//a[@class='charts-landing__link charts-landing__video--background']")
try:
    hundred.click()
except ElementClickInterceptedException:
    driver.get(hundred.get_attribute('href'))

In [163]:
Song_Name = []
Artist_Name = []
Lwr = []
Peak_Rank = []
Wob = []

try:
    name=driver.find_elements_by_xpath("//span[@class='chart-element__information__song text--truncate color--primary']")
    for j in name:
        Song_Name.append(j.text)
except NoSuchElementException:
    Song_Name.append('- -')
    
#############################################################

try:
    art_name=driver.find_elements_by_xpath("//span[@class='chart-element__information__artist text--truncate color--secondary']")
    for i in art_name:
        Artist_Name.append(i.text)
except NoSuchElementException:
    Artist_Name.append('- -')
    
#############################################################

try:
    rank=driver.find_elements_by_xpath("//span[@class='chart-element__meta text--center color--secondary text--last']")
    for i in rank:
        Lwr.append(i.text)
except NoSuchElementException:
    Lwr.append('- -')
    
#############################################################

try:
    rank1=driver.find_elements_by_xpath("//span[@class='chart-element__meta text--center color--secondary text--peak']")
    for i in rank1:
        Peak_Rank.append(i.text)
except NoSuchElementException:
    Peak_Rank.append('- -')
    
############################################################

try:
    wc=driver.find_elements_by_xpath("//span[@class='chart-element__meta text--center color--secondary text--week']")
    for i in wc:
        Wob.append(i.text)
except NoSuchElementException:
    Wob.append('- -')

In [164]:
len(Song_Name),len(Artist_Name),len(Lwr),len(Peak_Rank),len(Wob)

(100, 100, 100, 100, 100)

In [165]:
#CreateDataframe
df=pd.DataFrame()
df['Song name']=Song_Name
df['Artist name']=Artist_Name
df['Last week rank']=Lwr
df['Peak rank']=Peak_Rank
df['Weeks on board']=Wob
df

,Song name,Artist name,Last week rank,Peak rank,Weeks on board
0,Butter,BTS,1 LW,1 Pk,10 WoC
1,Industry Baby,Lil Nas X & Jack Harlow,,2 Pk,1 WoC
2,Good 4 U,Olivia Rodrigo,2 LW,1 Pk,11 WoC
3,Stay,The Kid LAROI & Justin Bieber,4 LW,3 Pk,3 WoC
4,Levitating,Dua Lipa Featuring DaBaby,3 LW,2 Pk,43 WoC
...,...,...,...,...,...
95,Minimum Wage,Blake Shelton,83 LW,67 Pk,12 WoC
96,Working,Tate McRae X Khalid,,88 Pk,5 WoC
97,Holy Smokes,Trippie Redd Featuring Lil Uzi Vert,50 LW,50 Pk,2 WoC
98,WUSYANAME,"Tyler, The Creator Featuring YoungBoy Never Br...",91 LW,14 Pk,5 WoC
99,Still Chose You,The Kid LAROI Featuring Mustard,,100 Pk,1 WoC

##### 7. Scrape the details of Data science recruiters from naukri.com.
Url = https://www.naukri.com/
You have to find the following details:
A) Name
B) Designation
C) Company
D) Skills they hire for
E) Location
Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and 
click on search. All this should be done through code

In [177]:
#CONNECT TO WEB-DRIVER
driver=webdriver.Chrome(r"C:\Users\Ashish\Downloads\chromedriver.exe")

In [178]:
# Step 1 :- 1. first get the webpage https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos
url='https://www.naukri.com/'
#open the site in our automatic chrome browser
driver.get(url)

In [179]:
driver.find_element_by_xpath('/html/body/div[3]/span[1]').click()

In [180]:
recruiters=driver.find_element_by_xpath("//a[@title='Search Recruiters']")
driver.get(recruiters.get_attribute('href'))

In [181]:
#Enter in  search bar
search=driver.find_element_by_xpath("//input[@class='sugInp']")
search.send_keys("Data Science")

In [183]:
#Click on search button
button=driver.find_element_by_xpath("/html/body/div[2]/div[2]/div[1]/div[1]/form/div[1]/button")
button.click()

In [186]:
Name = []
Desig = []
Company_Name = []
Location = []
Skill = []

        

try:
    name=driver.find_elements_by_xpath("//div[@class='recInfo']/div/p/a[1]")
    for i in name:
        Name.append(i.text)
except NoSuchElementException:
    Name.append('- -')
    
########################################################


try:
    designations=driver.find_elements_by_xpath("//div[@class='recInfo']/div/p/span[1]")
    for i in designations:
        Desig.append(i.text)
except NoSuchElementException:
    Desig.append('- -')
    
    
#######################################################


try:
    skill=driver.find_elements_by_xpath("//div[@class='recInfo']/div[2]")
    for i in skill:
        Skill.append(i.text)
except NoSuchElementException:
    Skill.append('- -')
    
########################################################

try:
    company=driver.find_elements_by_xpath("//div[@class='recInfo']/div/p/a[2]")
    for i in company:
        Company_Name.append(i.text)
except NoSuchElementException:
    Company_Name.append('- -')
    
###########################################################

try:
    Loc=driver.find_elements_by_xpath("//div[@class='recInfo']/div/p/span[2]")
    for i in Loc:
        Location.append(i.text)
except NoSuchElementException:
    Location.append('- -')

In [199]:
len(Name),len(Company_Name),len(Location),len(Desig),len(Skill)

(50, 50, 50, 50, 50)

In [200]:
#CreateDataframe
df=pd.DataFrame()
df['Name']=Name
df['Company Name']=Company_Name
df['Location']=Location
df['Designation']=Desig
df['Skill']=Skill
df

,Name,Company Name,Location,Designation,Skill
0,Aakash Harit,Data Science Network,Delhi,HR Manager,"Classic ASP Developer, Internet Marketing Prof..."
1,shravan Kumar Gaddam,Shore Infotech India Pvt. Ltd,Hyderabad / Secunderabad,Company Recruiter,".Net, Java, Data Science, Linux Administration..."
2,MARSIAN Technologies LLP,MARSIAN Technologies LLP,Pune,Company HR,"Data Science, Artificial Intelligence, Machine..."
3,Anik Agrawal,Enerlytics Software Solutions Pvt Ltd,Ahmedabad,Company Recruiter,"Mean Stack, javascript, angularjs, mongodb, We..."
4,subhas patel,LibraryXProject,UK - (london),Founder CEO,"Hadoop, Spark, Digital Strategy, Data Architec..."
5,Abhishek - Only Analytics Hiring - India and,Apidel Technologies Division of Transpower,Vadodara / Baroda,Recruitment Lead Consultant,"Analytics, Business Intelligence, Business Ana..."
6,Institute for Financial Management and Resear,IFMR,Chennai,Programme Manager,Data Science
7,Balu Ramesh,Techvantage Systems Pvt Ltd,Trivandrum,HR Administrator,"Machine Learning, algorithms, Go Getter, Compu..."
8,Asif Lucknowi,Weupskill- Live Wire India,Indore,Director,"Technical Training, Software Development, Pres..."
9,InstaFinancials,CBL Data Science Private Limited,Bengaluru / Bangalore,Human Resource,"Software Development, It Sales, Account Manage..."
10,Priyanka Akiri,Infinitive Software Solutions Pvt.Ltd.,Hyderabad,HR Manager,"Oracle Dba, Data Science, Data Warehousing, ET..."
11,Kalpana Dumpala,Innominds Software,Hyderabad / Secunderabad,Executive Hiring,"Qa, Ui/ux, Java Developer, Java Architect, C++..."
12,Mubarak,MoneyTap,Bengaluru / Bangalore,Company HR,"Business Intelligence, Data Warehousing, Data ..."
13,Kushal Rastogi,QuantMagnum Technologies Pvt. Ltd.,Mumbai,Company HR,"Office Administration, Hr Administration, tele..."
14,Ruchi Dhote,Bristlecone India Ltd,Pune,Senior Executive Talent Acquisition,"Qlikview, Qlik Sense, Microsoft Azure, Power B..."
15,Mahesh Babu Channa,SocialPrachar.com,Hyderabad / Secunderabad,HR Team Lead,"Social Media, digital media maketing, seo, smm..."
16,Kapil Devang,BISP Solutions,Bhopal,HR Manager,"Big Data, Hadoop, Data Analytics, Data Science"
17,Manisha Yadav,Easi Tax,Navi Mumbai,HR Executive,"Telecalling, Client Interaction, Marketing, Re..."
18,Riya Rajesh,Novelworx Digital Solutions,Cochin,Manager Talent Acquisition,Data Science
19,Rashmi Bhattacharjee,AXESTRACK SOFTWARE SOLUTIONS PRIVATE...,Delhi,HR Head,"Corporate Sales, Software Development, Softwar..."
20,Faizan Kareem,FirstTech Consaltants Pvt.Ltd,Hyderabad / Secunderabad,HR MANAGER,"Data Analytics, Data Science, Machine Learning..."
21,Rithika dadwal,Affine Analytics,Pune,HR Recruiter,"Data Science, Machine Learning, Python, R, Dee..."
22,Sandhya Khandagale,Compumatrice Multimedia Pvt Ltd,Pune,HR Recruiter,"Big Data, Data Science, Artificial Intelligenc..."
23,Shaun Rao,Exela Technologies,Pune,Manager Human Resources,"Java, Net, Angularjs, Hr, Infrastructure, Mana..."
24,Azahar Shaikh,NEAL ANALYTICS SERVICES PVT LTD,Pune,Company Recruiter,"Data Science, Artificial Intelligence, Machine..."
25,Manas,Autumn Leaf Consulting Services Private...,Bengaluru / Bangalore,Lead Talent acquisition,"Software Architecture, Vp Engineering, Product..."
26,kumar,trainin,Bengaluru / Bangalore,Proprietor,"Data Science, Hadoop, Rpas, Devops, Python, Aw..."
27,Sunil Vedula,Nanoprecise Sci Corp,- -,CEO,"Signal Processing, Machine Learning, Neural Ne..."
28,Rajat Kumar,R.S Consultancy &amp; Services,Delhi,Founder CEO,"Web Technologies, Project Management, Software..."
29,Radha Manivasagam,Techcovery,Bengaluru / Bangalore,HR Executive,"Python, Artificial Intelligence, Machine Learn..."
30,Priya Khare,Independent Consultant,Bengaluru / Bangalore,Senior Manager,"Data Science, Artificial Intelligence, analyti..."
31,Dhruv Dev Dubey,Confidential,Bengaluru / Bangalore,Company Recruitment Head,"Server Administartion, Verilog, Vhdl, Digital ..."
32,Jayanth N,"Dollarbird Information Services Pvt, Ltd",Mysoru / Mysore,Project Manager,"Data Analytics, Managed Services, Team Leading..."
33,SREEDHAR,JOBSMILL BUSINESS SOLUTIONS PRIVATE LIMITED,Hyderabad / Secunderabad,Recruitment Consultant,"Data Science, Machine Learning, Big Data Analy..."
34,Ravi Dubey,HyrEzy Talent Solutions LLP,Ghaziabad,Recruitment Manager,Walmart Interra Skeps Expressstores indifi whi...
35,Prateek Kumar,Trisect,Noida,Head,"Java, Python, Angularjs, Software Testing, Mac..."
36,Amit Sharma,ASCO consulting,New Delhi,Consultant,"Machine Learning, Artificial Intelligence, Dat..."
37,Kanan,NY INST,Chennai,senior technology instructor,"C, C++, Artificial Intelligence, Python, Php, ..."
38,Shashikant Chaudhary,3D India Staffing Research &amp; Consulting...,Aligarh,HR Recruiter/HR Excutive,"Relationship Management, Retail Sales, Private..."
39,Brad,O.C. Tanner,Salt Lake City,"Manager, Technical Recruiting","Data Science, Software Engineering"
40,Rutuja Pawar,Demand Matrix,Pune,Technical Recruiter,"Data Science, Big Data Analytics, Digital Mark..."
41,Madhusudhan Sridhar,MADHUSUDHAN SRIDHAR,Bengaluru / Bangalore,Erp Implementer,"Data Science, Recruitment, Salary"
42,Ankit Sinha,Suntech Global,Mumbai,Head Analytics,"B.Tech, Tableau, Statistics, R, Analytics, Tim..."
43,Gaurav Chouhan,Strategic Consulting Lab,Indore,Chief Technical Officer,"Software Development, Business Intelligence, B..."
44,Rashi Kacker,Impel Labs Pvt. Ltd.,Bengaluru / Bangalore,Sr Product Manager,"Data Science, Node.js, Angularjs"
45,Ashwini,MRP Advisers,MYSORE,Director Global Delivery,"Data Science, Media Marketing, Resource Planni..."
46,Balaji Kolli,Saras Solutions India Pvt Ltd,Hyderabad / Secunderabad,Co Founder,"Data Analysis, Learning, Data Science, Compute..."
47,Rajani Nagaraj,WildJasmine,Bengaluru / Bangalore,HR Manager,"Java, Hadoop, R, Machine Learning, Spark, Flum..."
48,ROHIT Kumar,LNT Private Limited,Mumbai,Architect,"Software Development, Core Java, Unit Testing,..."
49,Amir Chowdhury,Granular.ai,- -,Managing Partner,"Machine Learning, Data Science, Product Manage..."

8. Scrape the details of Highest selling novels.
Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-greycompare/
You have to find the following details:
A) Book name
B) Author name
C) Volumes sold
D) Publisher
E) Genre

In [204]:
#CONNECT TO WEB-DRIVER
driver=webdriver.Chrome(r"C:\Users\Ashish\Downloads\chromedriver.exe")

In [205]:
url=' https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-greycompare/ '
#open the site in our automatic chrome browser
driver.get(url)

URL is not Working

9. Scrape the details most watched tv series of all time from imdb.com.
 Url = https://www.imdb.com/list/ls095964455/
You have to find the following details:
A) Name
B) Year span
C) Genre
D) Run time
E) Ratings
F) Votes

In [207]:
#CONNECT TO WEB-DRIVER
driver=webdriver.Chrome(r"C:\Users\Ashish\Downloads\chromedriver.exe")

In [208]:
url='  https://www.imdb.com/list/ls095964455/ '
#open the site in our automatic chrome browser
driver.get(url)

In [209]:
Name=[]
Year_Span=[]
Genre=[]
Run_Time=[]
Rating=[]
Votes=[]

In [210]:
try:
    name=driver.find_elements_by_xpath("//h3[@class='lister-item-header']/a")
    for i in name:
        Name.append(i.text)
except NosuchElementException:
    Name.append('- -')

In [211]:
try:
    yr_sp=driver.find_elements_by_xpath("//h3[@class='lister-item-header']/span[2]")
    for i in yr_sp:
        Year_Span.append(i.text)
except NosuchElementException:
    Year_Span.append('- -')

In [212]:
try:
    genre=driver.find_elements_by_xpath("//span[@class='genre']")
    for i in genre:
        Genre.append(i.text)
except NoSuchElementException:
    Genre.append('- -')

In [213]:
try:
    rt=driver.find_elements_by_xpath("//span[@class='runtime']")
    for i in rt:
        Run_Time.append(i.text)
except NoSuchElementException:
    Run_Time.append('')

In [215]:
try:
    rating=driver.find_elements_by_xpath("//div[@class='ipl-rating-star small']/span[2]")
    for i in rating:
        Rating.append(i.text)
except NoSuchElementException:
    Rating.append('')

In [216]:
try:
    votes=driver.find_elements_by_xpath("//span[@name='nv']")
    for i in votes:
        Votes.append(i.text)
except NoSuchElementException:
    Votes.append('- -')

In [217]:
len(Name),len(Year_Span),len(Genre),len(Run_Time),len(Rating),len(Votes)

(100, 100, 100, 100, 100, 100)

In [218]:
#CreateDataframe
df=pd.DataFrame()
df['Name']=Name
df['Year Span']=Year_Span
df['Gener']=Genre
df['Running Time']=Run_Time
df['Ratings']=Rating
df['Votes']=Votes
df

,Name,Year Span,Gener,Running Time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"1,851,283"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"888,321"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.2,"887,090"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.6,"266,944"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"227,301"
...,...,...,...,...,...,...
95,Reign,(2013–2017),"Drama, Fantasy",42 min,7.5,"45,124"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"55,883"
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,8,"172,197"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.1,"35,834"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"195,581"

10. Details of Datasets from UCI machine learning repositories.
 Url = https://archive.ics.uci.edu/
 You have to find the following details:
A) Dataset name
B) Data type
C) Task
D) Attribute type
E) No of instances
F) No of attribute
G) Year
Note: - from the home page you have to go to the Show All Dataset page through code

In [219]:
#CONNECT TO WEB-DRIVER
driver=webdriver.Chrome(r"C:\Users\Ashish\Downloads\chromedriver.exe")

In [220]:
url='https://archive.ics.uci.edu/'
#open the site in our automatic chrome browser
driver.get(url)

In [221]:
data=driver.find_element_by_xpath("//a[@href='datasets.php']")
data.click()

In [222]:
Ds_Name = []
DType=[]
Task=[]
Attr=[]
No_of_inst=[]
No_of_attr=[]
Year=[]

In [223]:
try:
    name=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[1]/table/tbody/tr/td[2]/p/b/a")
    for i in name:
        Ds_Name.append(i.text)
except NoSuchElementException:
    Ds_Name.append('- -')

In [224]:
try:
    dt=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[2]")
    for i in dt[1:]:
         DType.append(i.text)
except NoSuchElementException:
    DType.append("- -")

In [225]:
try:
    task=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[3]")
    for i in task[1:]:
         Task.append(i.text)
except NoSuchElementException:
    Task.append("- -")

In [226]:
try:
    attr=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[4]")
    for i in attr[1:]:
         Attr.append(i.text)
except NoSuchElementException:
    Attr.append("- -")

In [227]:
try:
    inst=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[5]")
    for i in inst[1:]:
         No_of_inst.append(i.text)
except NoSuchElementException:
    No_of_inst.append("- -")

In [228]:
try:
    attr=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[6]")
    for i in attr[1:]:
         No_of_attr.append(i.text)
except No_of_attr:
    no_of_attributes.append("- -")

In [229]:
try:
    yr=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[7]")
    for i in yr[1:]:
         Year.append(i.text)
except NoSuchElementException:
    Year.append("- -")

In [230]:
#CreateDataframe
df=pd.DataFrame()
df['DataBase Name']=Ds_Name
df['Data Type']=DType
df['Task']=Task
df['Attribute Type']=Attr
df['Instances']=No_of_inst
df['Attributes']=No_of_attr
df['Year']=Year
df

,DataBase Name,Data Type,Task,Attribute Type,Instances,Attributes,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
583,in-vehicle coupon recommendation,Multivariate,Classification,,12684,23,2020
584,Gait Classification,Multivariate,Classification,Real,48,321,2020
585,Wikipedia Math Essentials,Time-Series,Regression,Real,731,1068,2021
586,Wikipedia Math Essentials,Time-Series,Regression,Real,731,1068,2021
587,Synchronous Machine Data Set,Multivariate,Regression,Real,557,5,2021

3. Scrape the details of selenium exception from guru99.com.
Url = https://www.guru99.com/
You need to find following details:
A) Name
B) Description
Note: - From guru99 home page you have to reach to selenium exception handling page through code.

In [231]:
#CONNECT TO WEB-DRIVER
driver=webdriver.Chrome(r"C:\Users\Ashish\Downloads\chromedriver.exe")

In [233]:
url='https://www.guru99.com/'
#open the site in our automatic chrome browser
driver.get(url)

In [236]:
try:
    driver.find_element_by_xpath("//li[@class='g-menu-item g-menu-item-type-component g-menu-item-121  ']/a").click()
except ElementNotInteractableException:
    driver.get(driver.find_element_by_xpath("//li[@class='g-menu-item g-menu-item-type-component g-menu-item-121  ']/a").get_attribute('href'))

In [237]:
try:
    driver.find_element_by_xpath("//a[@title='Selenium Exception Handling (Common Exceptions List)']").click()
except:
    driver.get(driver.find_element_by_xpath("//a[@title='Selenium Exception Handling (Common Exceptions List)']").get_attribute('href'))

In [238]:
Name=[]
Description=[]


try:
    name=driver.find_elements_by_xpath("//table[@class='table table-striped']/tbody/tr/td[1]")
    for i in name[1:]:
        Name.append(i.text)
except NoSuchElementException:
    Name.append('- -')
    
###################################################################################################

try:
    descr=driver.find_elements_by_xpath("//table[@class='table table-striped']/tbody/tr/td[2]")
    for i in descr[1:]:
        Description.append(i.text)
except NoSuchElementException:
    Description.append('- -')

In [239]:
#CreateDataframe
df=pd.DataFrame()
df['Name']=Name
df['Description']=Description
df

,Name,Description
0,ElementNotVisibleException,This type of Selenium exception occurs when an...
1,ElementNotSelectableException,This Selenium exception occurs when an element...
2,NoSuchElementException,This Exception occurs if an element could not ...
3,NoSuchFrameException,This Exception occurs if the frame target to b...
4,NoAlertPresentException,This Exception occurs when you switch to no pr...
5,NoSuchWindowException,This Exception occurs if the window target to ...
6,StaleElementReferenceException,This Selenium exception occurs happens when th...
7,SessionNotFoundException,The WebDriver is acting after you quit the bro...
8,TimeoutException,Thrown when there is not enough time for a com...
9,WebDriverException,This Exception takes place when the WebDriver ...
10,ConnectionClosedException,This type of Exception takes place when there ...
11,ElementClickInterceptedException,The command may not be completed as the elemen...
12,ElementNotInteractableException,This Selenium exception is thrown when any ele...
13,ErrorInResponseException,This happens while interacting with the Firefo...
14,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
15,ImeActivationFailedException,This expectation will occur when IME engine ac...
16,ImeNotAvailableException,It takes place when IME support is unavailable.
17,InsecureCertificateException,Navigation made the user agent to hit a certif...
18,InvalidArgumentException,It occurs when an argument does not belong to ...
19,InvalidCookieDomainException,This happens when you try to add a cookie unde...
20,InvalidCoordinatesException,This type of Exception matches an interacting ...
21,InvalidElementStateExceptio,It occurs when command can't be finished when ...
22,InvalidSessionIdException,This Exception took place when the given sessi...
23,InvalidSwitchToTargetException,This occurs when the frame or window target to...
24,JavascriptException,This issue occurs while executing JavaScript g...
25,JsonException,It occurs when you afford to get the session w...
26,NoSuchAttributeException,This kind of Exception occurs when the attribu...
27,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
28,NoSuchContextException,ContextAware does mobile device testing.
29,NoSuchCookieException,This Exception occurs when no cookie matching ...
30,NotFoundException,This Exception is a subclass of WebDriverExcep...
31,RemoteDriverServerException,This Selenium exception is thrown when the ser...
32,ScreenshotException,It is not possible to capture a screen.
33,SessionNotCreatedException,It happens when a new session could not be suc...
34,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
35,UnexpectedTagNameException,Happens if a support class did not get a web e...
36,UnhandledAlertException,This expectation occurs when there is an alert...
37,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
38,UnknownMethodException,This Exception happens when the requested comm...
39,UnreachableBrowserException,This Exception occurs only when the browser is...
40,UnsupportedCommandException,This occurs when remote WebDriver does n't sen...